<div class="row doctor-card card-box ml-0 mr-0" [ngClass]="{'show-more':showMore || isFullPage,'show-less':!showMore && !isFullPage}">
  <div class="col-sm-12 col-md-6 col-sm-12">
    <div class="row pt-2">
      <div class="col-lg-3 col-md-4 col-sm-3 col-5 pr-0">
        <img *ngIf="doctor?.image" height="90" width="90" src="data:image/jpeg;base64,{{doctor.image}}" alt=""
             class="d-flex align-self-center mr-3 rounded-circle"/>
        <img *ngIf="!doctor?.image" height="90" width="90" src="assets/images/doctor/no-pic.png" alt=""
             class="d-flex align-self-center mr-3 rounded-circle"/>
      </div>
      <div class="col-5 pl-0">
        <h4 class="doctor-title">{{doctorTitle}} {{doctor?.firstName}}</h4>
        <h4 class="doctor-title">{{doctor?.lastName}}</h4>
        <p *ngIf="doctor?.speciality?.professionModel?.title != doctor?.speciality?.name">
          {{doctor?.speciality?.professionModel?.title}} {{doctor?.speciality?.name}}
        </p>
        <p *ngIf="doctor?.speciality?.professionModel?.title == doctor?.speciality?.name">
          <span *ngIf="doctor?.speciality?.name == 'Infirmier(e)' && doctor?.gender == 'MALE'">
            Infirmier
          </span>
          <span *ngIf="doctor?.speciality?.name == 'Infirmier(e)' && doctor?.gender == 'FEMALE'">
            Infirmiere
          </span>
          <span *ngIf="doctor?.speciality?.name != 'Infirmier(e)'">
            {{doctor?.speciality?.name}}
          </span>
        </p>
      </div>
    </div>
    <div class="border-top border-bottom pr-3 pt-3 pb-3 mt-1 font-20" style="color: black;">
      <div class="row mb-3">
        <div class="text-left col align-self-start" translate><em class="fe-credit-card pr-2 font-22"></em>
          ReservationPage.Tarif
        </div>
        <div class="col align-self-end font-weight-bold" style="text-align: right">{{doctor?.teleconsultationPrice}}€
        </div>
      </div>
      <div class="row">
        <div class="text-left col align-self-start" translate><em class="fe-repeat pr-2 font-22"></em>
          ReservationPage.Refundable
        </div>
        <div class="col align-self-end font-weight-bold font-18"
             style="text-align: right">{{'RegisterPage.' + doctor?.agreementStatus | translate}}</div>
      </div>
    </div>
    <div class="row mt-md-4 pt-3" *ngIf="!isFullPage">
      <div class="col-12">
        <button class="btn btn-outline-primary btn-lg show-profile" (click)="goToProfile()" style="width: 100%" translate>CheckProfile</button>
      </div>
    </div>

    <div class="row mt-2 pt-2" *ngIf="isFullPage">
      <div class="col-12" style="color: black">
        <p class="font-weight-bold font-17 mt-3" translate>Profile.About</p>
        <p class="font-15" style="white-space: pre-wrap;">{{doctor?.bio}}</p>
        <p class="font-weight-bold font-17 mt-3" translate>Profile.DoctorLanguages</p>
        <p class="font-15">
          <span *ngFor="let language of doctor?.languages ; let i = index">
            <span *ngIf="i!=0">, </span>{{language?.name}}</span>
        </p>
        <p class="font-weight-bold font-17 mt-3" translate>Profile.WorkingCity</p>
        <p class="font-15">{{doctor?.address.city}}</p>
      </div>
    </div>

  </div>
  <div class="col-sm-12 col-md-6 col-sm-12 doctor-calendar">
    <div class="row">
      <div class="col-2 col-md-1 p-0" style="text-align: center;">
        <em (click)="previousPeriod()" class="mdi mdi-arrow-left-circle navigation-btn"
            [ngClass]="{'disable-navigation-btn':disablePreviousBtn}"></em>
      </div>
      <div class="col-8 col-md-10" style="text-align: center;margin: auto;">
        <span id="date-range"
          style="font-weight: 700; color: black;margin: auto;">Du {{fromDate.getDate()}} {{formatterMonth.format(fromDate)}}
          au {{toDate.getDate()}} {{formatterMonth.format(toDate)}}</span>
      </div>
      <div class="col-2 col-md-1 p-0" style="text-align: center;">
        <em (click)="nextPeriod()" class="mdi mdi-arrow-right-circle navigation-btn" [ngClass]="{'disable-navigation-btn':disableNextBtn}"></em>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3 date-col-header">
        <span class="date-col-text-header">{{formatterDay.format(fromDate) | uppercase}}</span>
        <br/>
        <span>{{fromDate.getDate()}} {{formatterMonth.format(fromDate)}}</span>
      </div>
      <div class="col-3 date-col-header">
        <span class="date-col-text-header">{{formatterDay.format(colDate1) | uppercase}}</span>
        <br/>
        <span>{{colDate1.getDate()}} {{formatterMonth.format(colDate1)}}</span>
      </div>
      <div class="col-3 date-col-header">
        <span class="date-col-text-header">{{formatterDay.format(colDate2) | uppercase}}</span>
        <br/>
        <span>{{colDate2.getDate()}} {{formatterMonth.format(colDate2)}}</span>
      </div>
      <div class="col-3 date-col-header">
        <span class="date-col-text-header">{{formatterDay.format(colDate3) | uppercase}}</span>
        <br/>
        <span>{{colDate3.getDate()}} {{formatterMonth.format(colDate3)}}</span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3 pr-0 pl-0 date-col-header">
        <span class="book-btn" *ngFor="let time of buttonsMap.get(1); let i = index">
          <button *ngIf="i<=buttonsLimits" class="btn btn-success mt-2" (click)="takeAppointment(fromDate, time)">{{time}}</button>
        </span>
      </div>
      <div class="col-3 pr-0 pl-0 date-col-header">
        <span class="book-btn" *ngFor="let time of buttonsMap.get(2); let i = index">
          <button *ngIf="i<=buttonsLimits" class="btn btn-success mt-2" (click)="takeAppointment(colDate1, time)">{{time}}</button>
        </span>
      </div>
      <div class="col-3 pr-0 pl-0 date-col-header">
        <span class="book-btn" *ngFor="let time of buttonsMap.get(3); let i = index">
          <button *ngIf="i<=buttonsLimits" class="btn btn-success mt-2" (click)="takeAppointment(colDate2, time)">{{time}}</button>
        </span>      </div>
      <div class="col-3 pr-0 pl-0 date-col-header">
        <span class="book-btn" *ngFor="let time of buttonsMap.get(4); let i = index">
          <button *ngIf="i<=buttonsLimits" class="btn btn-success mt-2" (click)="takeAppointment(colDate3, time)">{{time}}</button>
        </span>
      </div>
    </div>
    <div class="row date-col-header mt-1" *ngIf="!isFullPage">
      <div class="col-12">
        <button *ngIf="!showMore && buttonsMap.get(1).length + buttonsMap.get(2).length + buttonsMap.get(3).length + buttonsMap.get(4).length > 0 " class="btn btn-link font-16" (click)="onShowMore()"><u translate>Search.ShowMore</u></button>
        <button *ngIf="showMore" class="btn btn-link font-16" (click)="onShowLess()"><u translate>Search.ShowLess</u></button>
      </div>
    </div>
  </div>
</div>
