.doctor-card {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .05), 0 6px 26px rgba(0, 0, 0, .05);
}

.show-more{
  height: auto;
}

.show-less{
  //height: 420px;
}

.doctor-calendar {
  border-left: 1px solid rgba(0, 0, 0, .09);
}

.doctor-title {
  color: black;
  font-weight: 900;
  line-height: 22px !important;
  font-size: 18px !important;
}

.show-profile:hover {
  box-shadow: 0 0 0 0.18rem rgba(102, 88, 221, 0.5);
  background-color: white;
  color: #6658dd;
}

.navigation-btn {
  font-size: 35px;
  cursor: pointer;
}

.navigation-btn:hover {
  color: #6658dd;
}

.disable-navigation-btn {
  color: #b9c0c6;
}

.disable-navigation-btn:hover {
  color: #b9c0c6;
  cursor: not-allowed;
}

.date-col-header {
  text-align: center;
  margin: auto;
  margin-top: 0;
}

.date-col-text-header {
  color: black;
  margin: auto;
  font-weight: 700;
  color: black;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  #date-range {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .doctor-calendar {
    border-left: 0 solid rgba(0, 0, 0, .09);
  }
}

@media screen and (min-width: 500px) {
  #date-range {
    font-size: 22px;
  }
}

.book-btn{
  margin: 2px;
}

