<!--<div style="margin: 11px;" id="strength" #strength>-->
<!--  <small>{{barLabel}}</small>-->
<!--  <ul id="strengthBar">-->
<!--    <li class="point" [style.background-color]="bar0"></li><li class="point" [style.background-color]="bar1"></li><li class="point" [style.background-color]="bar2"></li><li class="point" [style.background-color]="bar3"></li><li class="point" [style.background-color]="bar4"></li>-->
<!--  </ul>-->
<!--</div>-->
<p class="mb-0 mt-1" translate>Action.PasswordMessage</p>
<div class="row mb-1">
  <div class="col-6 pr-0 checkbox checkbox-success checkbox-circle">
    <input disabled id="checkbox-1" type="checkbox" [checked]="checkPassword.upper">
    <label for="checkbox-1" translate>
      Action.UpperCase
    </label>
  </div>
  <div class="col-6 p-0 checkbox checkbox-success checkbox-circle">
    <input disabled id="checkbox-2" type="checkbox" [checked]="checkPassword.lower">
    <label for="checkbox-2" translate>
      Action.LowerCase
    </label>
  </div>
</div>
<div class="row">
  <div class="col-6 pr-0 checkbox checkbox-success checkbox-circle">
    <input disabled id="checkbox-3" type="checkbox" [checked]="checkPassword.digits">
    <label for="checkbox-3" translate>
      Action.Number
    </label>
  </div>
  <div class="col-6 p-0 checkbox checkbox-success checkbox-circle">
    <input disabled id="checkbox-4" type="checkbox" [checked]="checkPassword.nonWords">
    <label for="checkbox-4" translate>
      Action.SpecialChar
    </label>
  </div>
</div>
