<div class="account-pages mt-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-11 col-lg-9 col-xl-9">
        <div class="card">
          <div class="card-body pt-2 pl-3 pr-3 pb-2">
            <!-- Logo-->
            <div class="text-center w-75 m-auto">
              <a routerLink="/">
                <img src="assets/images/logo-dark.png" alt="" height="50" />
              </a>
              <p class="text-muted mb-2 mt-2" translate>RegisterPage.HeaderMessage3</p>
            </div>

            <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
              <app-ui-preloader [display]="loading"></app-ui-preloader>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group mb-md-3">
                    <label for="firstName" translate>RegisterPage.FirstName</label>
                    <input type="text" formControlName="firstName" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" id="firstName" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.FirstName' | translate}}" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                  <div class="form-group mb-md-3">
                    <label for="lastName"translate>RegisterPage.LastName</label>
                    <input type="text" formControlName="lastName" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" id="lastName" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.LastName' | translate}}" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                  <div class="form-group mb-md-3">
                    <label for="email"translate>RegisterPage.Email</label>

                    <input type="email" formControlName="email" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.Email' | translate}}" />

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required" translate>RegisterPage.Required</div>
                      <div *ngIf="f.email.errors.email" translate>RegisterPage.ValidEmail</div>
                    </div>
                  </div>
                  <div class="form-group mb-md-3">
                    <label for="password" translate>RegisterPage.Password</label>
                    <input [(ngModel)]="password" type="password" formControlName="password" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted && f.password.errors)}" id="password" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.Password' | translate}}" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required" translate>RegisterPage.Required</div>
                    </div>
                    <app-password-strength-bar [passwordToCheck]="password" [barLabel]="barLabel"></app-password-strength-bar>
                  </div>
                  <div class="form-group mb-md-3">
                    <label for="password" translate>RegisterPage.Qualification</label>

                    <input type="text" formControlName="qualificationCode" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.qualificationCode.errors }" id="qualification" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.Qualification' | translate}}" />

                    <div *ngIf="submitted && f.qualificationCode.errors" class="invalid-feedback">
                      <div *ngIf="f.qualificationCode.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group mb-md-3">
                    <label for="inami" translate>RegisterPage.INAMI</label>

                    <input type="text" formControlName="inami" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.inami.errors }" id="inami" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.INAMI' | translate}}" />

                    <div *ngIf="submitted && f.inami.errors" class="invalid-feedback">
                      <div *ngIf="f.inami.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                  <div class="form-group mb-md-3">
                    <label for="phoneNumber" translate>RegisterPage.PhoneNumber</label>

                    <input type="text" mask="00 00 00 00 00" placeholder="Ex. 06 11 22 33 44" formControlName="phoneNumber" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" id="phoneNumber" />

                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                      <div *ngIf="f.phoneNumber.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                  <div class="form-group mb-md-3">
                    <label for="city" translate>RegisterPage.City</label>

                    <input type="text" formControlName="city" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.city.errors }" id="city" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.City' | translate}}" />

                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                  <div class="form-group mb-md-3">
                    <label translate>RegisterPage.Profession</label>

                    <ng-select formControlName="profession"
                               [items]="professions"
                               bindLabel="title" bindValue="title"
                               (change)="professionOnChange($event)"
                               [multiple]="false"
                               [ngClass]="{ 'is-invalid': submitted && f.profession.errors }"
                    ></ng-select>

                    <div *ngIf="submitted && f.profession.errors" class="invalid-feedback">
                      <div *ngIf="f.profession.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                  <div class="form-group" style="margin-top: 57px" [hidden]="hideSpecialities">
                    <label translate>RegisterPage.Speciality</label>

                    <ng-select formControlName="speciality"
                               [items]="selectedSpecialities"
                               [multiple]="false"
                               bindLabel="name" bindValue="name"
                               (change)="specialityOnChange($event)"
                               [ngClass]="{ 'is-invalid': submitted && f.speciality.errors }"
                    ></ng-select>

                    <div *ngIf="submitted && f.speciality.errors" class="invalid-feedback">
                      <div *ngIf="f.speciality.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mb-0 text-center">
                <button class="btn btn-success btn-block" type="submit" translate>RegisterPage.Register</button>
              </div>
            </form>
          </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white-50" translate>RegisterPage.AlreadyHaveAccount <a routerLink="/doctor/account/login" class="text-white ml-1">
              <b translate>
                LoginPage.LoginBtn
            </b></a>
            </p>
            <p class="text-white-50"><a routerLink="/patient/account/auth/register" class="text-white ml-1"><b translate>LoginPage.AreYouAPatient
            </b></a>
            </p>
          </div> <!-- end col-->
        </div>
        <!-- end row -->
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
