<div class="container-fluid p-0 mb-5 bg-white">
  <div class="row mt-2 p-2">
    <div class="col-12 col-sm-12 col-md-9 col-xl-9 text-center" style="position: relative;">
      <span *ngIf="subscribers.length==0" class="font-18 font-weight-bold" translate>VideoCall.WaitingForPatient</span>
      <div *ngIf="session" id="session">
          <ov-video [size]="'large'" *ngFor="let sub of subscribers" [streamManager]="sub"></ov-video>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-xl-3">
      <div class="row">
        <div class="col-12">
          <div *ngIf="publisher">
            <ov-video [size]="'small'" [streamManager]="publisher"></ov-video>
          </div>
        </div>
      </div>
      <div class="row font-weight-bold font-15 mt-3">
        <div class="col-12">
          <div class="row">
            <div class="col-4" translate>VideoCall.Patient</div>
            <div class="col-8">{{appointmentData?.beneficiary?.firstName}} {{appointmentData?.beneficiary?.lastName}}</div>
          </div>
          <div class="row mt-1">
            <div class="col-4" translate>VideoCall.Phone</div>
            <div class="col-8">{{appointmentData?.patient?.phoneNumber}}</div>
          </div>
          <div class="row mt-1">
            <div class="col-4">E-mail : </div>
            <div class="col-8">{{appointmentData?.patient?.email}}</div>
          </div>
          <div class="row mt-1">
            <div class="col-12 text-center">
              <a class="badge badge-pill badge-info p-1" target="_blank" href="/teleconsultation/doctor/dashboard/patient;patient={{appointmentData?.beneficiary.pk}}" style="cursor: pointer;"><em translate>Agenda.GoToMedicalRecord</em></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <button (click)="leaveSession()" class="btn btn-danger"><i class="fe-log-out mr-1"></i> <span translate>VideoCall.LeaveSession</span></button>
        </div>
      </div>
    </div>
  </div>
</div>

