<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/">
                <img src="assets/images/logo-dark.png" alt="" height="50">
              </a>
              <p class="text-muted mb-4 mt-3" translate>LoginPage.HeaderMessage</p>
            </div>

            <form class="needs-validation" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

              <div class="form-group mb-3">
                <label for="email" translate>LoginPage.Email</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.Email' | translate}}" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required" translate>RegisterPage.Required</div>
                  <div *ngIf="f.email.errors.email" translate>RegisterPage.ValidEmail</div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="password" translate>LoginPage.Password</label>

                <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.Password' | translate}}" />

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required" translate>RegisterPage.Required</div>
                </div>
              </div>

              <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block" type="submit" translate>LoginPage.LoginBtn</button>
              </div>
            </form>
          </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p>
              <a routerLink="/patient/account/reset-password" class="text-white-50 ml-1" translate>LoginPage.ForgotYourPassword</a>
            </p>
            <p class="text-white-50" translate>LoginPage.DontHaveAccount <a routerLink="/patient/account/auth/register" class="text-white ml-1"><b translate>LoginPage.Register
                  </b></a>
            </p>
            <p class="text-white-50"><a routerLink="/doctor/account/auth/login" class="text-white ml-1"><b translate>LoginPage.AreYouADoctor
            </b></a>
            </p>
          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<app-auth-footer></app-auth-footer>
