<div class="row">
  <div class="col" style="text-align: right">
    <button type="submit" class="btn btn-success mt-2" (click)="modalService.open(familyMemberModal,{ centered: true })" translate>
      ReservationPage.AddUser
    </button>
  </div>
</div>

<div class="table-responsive mt-2">
  <table id="basic-datatable" class="table dt-responsive nowrap table-striped">
    <thead>
    <tr>
      <th translate>RegisterPage.LastName</th>
      <th translate>RegisterPage.FirstName</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of familyMembers">
      <td>
        {{person.firstName}}
      </td>
      <td>
        {{person.lastName}}
      </td>
      <td>
        <em class="mdi mdi-account-edit font-24 action-btn" (click)="editPerson(familyMemberModal, person)"></em>
        <em class="mdi mdi-delete ml-2 font-24 action-btn" (click)="delete(person)"></em>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- add family member Modal-->
<ng-template #familyMemberModal role="document" let-modal="close">
  <div class="modal-header bg-primary">
    <h4 *ngIf="!isEdit" class="modal-title text-white" translate>ReservationPage.AddUser</h4>
    <h4 *ngIf="isEdit" class="modal-title text-white" translate>Action.Edit</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body p-3 text-center">
    <form class="needs-validation" [formGroup]="familyMemberForm" (ngSubmit)="onSubmit()">
      <div class="row mt-2">
        <div class="col-6 pr-0">
          <div class="input-group">
            <input class="form-control" placeholder="{{'RegisterPage.FirstName' | translate}}"
                   formControlName="firstName" type="text" name="time"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}">
          </div>
        </div>
        <div class="col-6 pr-0">
          <div class="input-group" >
            <input class="form-control" placeholder="{{'RegisterPage.LastName' | translate}}"
                   formControlName="lastName" type="text" name="time">
         </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6 pr-0">
          <div class="form-group">
            <select class="form-control" id="genderEnum" formControlName="genderEnum"
                    [ngClass]="{ 'is-invalid': submitted && f.genderEnum.errors }">
              <option value="" disabled translate>RegisterPage.ChooseYourGender</option>
              <option value="MALE" translate>RegisterPage.Male</option>
              <option value="FEMALE" translate>RegisterPage.Female</option>
              <option value="OTHER" translate>RegisterPage.Other</option>
            </select>
            <div *ngIf="submitted && f.genderEnum.errors" class="invalid-feedback">
              <div *ngIf="f.genderEnum.errors.required" translate>RegisterPage.Required</div>
            </div>
          </div>
        </div>
        <div class="col-6 pr-0">
          <div class="form-group" style="text-align: left;">
            <input type="text" class="form-control" formControlName="birthday" data-toggle="input-mask"
                   mask="00/00/0000"
                   [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" id="birthday"
                   placeholder="{{'RegisterPage.Birthday' | translate}}">
            <span class="font-13 text-muted">e.g "JJ/MM/AAAA"</span>
            <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
              <div *ngIf="f.birthday.errors.required" translate>RegisterPage.Required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-0">
        <div class="col-6 pr-0">
          <div class="form-group">
            <select class="form-control" formControlName="patientRelationshipEnum"
                    [ngClass]="{ 'is-invalid': submitted && f.patientRelationshipEnum.errors }">
              <option value="" disabled translate>ReservationPage.ChooseYourRelationShip</option>
              <option value="SON" translate>ReservationPage.Son</option>
              <option value="DAUGHTER" translate>ReservationPage.Daughter</option>
              <option value="HUSBAND" translate>ReservationPage.Husband</option>
              <option value="WIFE" translate>ReservationPage.Wife</option>
              <option value="OTHER" translate>RegisterPage.Other</option>
            </select>
            <div *ngIf="submitted && f.patientRelationshipEnum.errors" class="invalid-feedback">
              <div *ngIf="f.patientRelationshipEnum.errors.required" translate>RegisterPage.Required</div>
            </div>
          </div>
        </div>
      </div>

      <button  type="submit" class="btn btn-success mt-2" translate>
        Action.Save
      </button>

    </form>
  </div>
  <!-- End body -->
</ng-template>
