<div class="container-fluid mt-2 bg-white">
  <div class="row pt-2">
    <div class="col">
      <ngb-tabset justify="justified" type="pills">
        <ngb-tab title="{{'Appointment.NOT_STARTED_YET1' | translate}}" class="nav-item">
          <ng-template ngbTabContent class="nav-item">
            <div class="table-responsive mt-2">
              <table id="basic-datatable" class="table dt-responsive nowrap table-striped">
                <thead>
                <tr>
                  <th sortable="lastName" translate>Appointment.StartAt</th>
                  <th sortable="lastName" translate>Appointment.Beneficiary</th>
                  <th translate>Appointment.Doctor</th>
                  <th translate>Appointment.Profession</th>
                  <th sortable="email" translate>Appointment.Reason</th>
                  <th sortable="phoneNumber" translate>Appointment.Status</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let appointment of upComingAppointment">
                  <td>
                    <ngb-highlight [result]="appointment.startAt | date: 'short':'':'fr'"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="appointment.beneficiary.firstName + ' ' + appointment.beneficiary.lastName"></ngb-highlight>
                  </td>
                  <td>
                    <span (click)="goToDoctorProfile(appointment.doctor.pk)" class="badge badge-pill badge-info ml-1 p-1 font-14" style="cursor: pointer;">
                      <ngb-highlight [result]="appointment.doctor.firstName + ' ' + appointment.doctor.lastName"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                    <ngb-highlight [result]="appointment.doctor.profession.title"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="appointment.reason"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [ngClass]="getAppointmentColor(appointment.appointmentStatusEnum)" [result]="'Appointment.'+appointment.appointmentStatusEnum + '2' | translate"></ngb-highlight>
                  </td>
                  <td>
                    <span *ngIf="!disabledStatus.includes(appointment.appointmentStatusEnum)"
                          class="badge badge-pill badge-success p-1" (click)="joinAppointment(appointment)" style="cursor: pointer;"><em translate>VideoCall.JoinAppointment</em></span>
                    <span *ngIf="disabledStatus.includes(appointment.appointmentStatusEnum)"
                          class="badge badge-pill badge-success p-1" style="cursor: not-allowed;"><em translate>VideoCall.JoinAppointment</em></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="{{'Appointment.History' | translate}}" class="nav-item">
          <ng-template ngbTabContent>
            <div class="table-responsive mt-2">
              <table id="basic-datatable2" class="table dt-responsive nowrap table-striped">
                <thead>
                <tr>
                  <th sortable="lastName" translate>Appointment.StartAt</th>
                  <th sortable="lastName" translate>Appointment.Beneficiary</th>
                  <th translate>Appointment.Doctor</th>
                  <th translate>Appointment.Profession</th>
                  <th sortable="email" translate>Appointment.Reason</th>
                  <th sortable="phoneNumber" translate>Appointment.Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let appointment of historyAppointment">
                  <td>
                    <ngb-highlight [result]="appointment.startAt | date: 'short'"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="appointment.beneficiary.firstName + ' ' + appointment.beneficiary.lastName"></ngb-highlight>
                  </td>
                  <td>
                    <span (click)="goToDoctorProfile(appointment.doctor.pk)" class="badge badge-pill badge-info ml-1 p-1 font-14" style="cursor: pointer;">
                      <ngb-highlight [result]="appointment.doctor.firstName + ' ' + appointment.doctor.lastName"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                    <ngb-highlight [result]="appointment.doctor.profession.title"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="appointment.reason"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [ngClass]="getAppointmentColor(appointment.appointmentStatusEnum)" [result]="'Appointment.'+appointment.appointmentStatusEnum + '2' | translate"></ngb-highlight>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
