<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/doctor/account/login">
                <img src="assets/images/logo-dark.png" alt="" height="50" />
              </a>
              <p class="text-muted mb-4 mt-3" translate>ResetPasswordPage.HeaderMessage1</p>
            </div>


            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
              <div class="form-group mb-3" *ngIf="!success">
                <label for="email">Email</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required" translate>RegisterPage.Required</div>
                  <div *ngIf="f.email.errors.email" translate>RegisterPage.ValidEmail</div>
                </div>
              </div>

              <div class="form-group mb-0 text-center" *ngIf="!success">
                <button class="btn btn-primary btn-block" type="submit" translate>ResetPasswordPage.Submit</button>
              </div>
            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white-50" translate>ResetPasswordPage.BackTo <a routerLink="/doctor/account/login" class="text-white ml-1"><b translate>LoginPage.LoginBtn</b></a></p>
          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<app-auth-footer></app-auth-footer>
