<div class="container-fluid mt-3 p-2 bg-white mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <h4 class="header-title" translate>Appointment.MyAppointments <span class="badge badge-primary ml-1">{{total}}</span></h4>
          <p class="text-muted font-13 mb-4">
          </p>
          <div class="row mb-md-2 form-inline">
            <!-- Search -->
            <div class="col-3 ">
              <div  class="form-group">
                <label class="mr-2" for="status-select" translate>Action.SortBy</label>
                <select [(ngModel)]="selectedStatus" (change)="onStatusChange($event)" class="custom-select" id="status-select">
                  <option value="lastName" translate>RegisterPage.LastName</option>
                  <option value="firstName" translate>RegisterPage.FirstName</option>
                  <option value="status" translate>Appointment.Status</option>
                  <option value="startAt" translate>Appointment.StartAt</option>
                </select>
              </div>
            </div>
            <div class="col-sm-9 col-md-9">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                class="d-inline-flex align-items-center" translate>Patient.Search
                <input (ngModelChange)="search($event)" type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                       aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable" class="table dt-responsive nowrap table-striped">
              <thead>
              <tr>
                <th sortable="date" translate>Appointment.StartAt</th>
                <th sortable="lastName" translate>RegisterPage.LastName</th>
                <th translate>RegisterPage.FirstName</th>
                <th sortable="email" translate>Appointment.Reason</th>
                <th sortable="phoneNumber" translate>Appointment.Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let appointment of appointmentsResult$">
                <td>
                  <ngb-highlight [result]="appointment.startAt | date: 'short':'':'fr'" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="appointment.beneficiary.lastName" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="appointment.beneficiary.firstName" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="appointment.reason" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [ngClass]="getAppointmentColor(appointment.appointmentStatusEnum)" [result]="'Appointment.'+appointment.appointmentStatusEnum + '1' | translate" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <span class="badge badge-pill badge-success mt-1 p-1" (click)="startAppointment(appointment)" style="cursor: pointer;"><em translate>VideoCall.StartAppointment</em></span>
                  <span [hidden]="appointment.appointmentStatusEnum != 'NOT_STARTED_YET'" class="badge badge-pill badge-danger mt-1 p-1 ml-1" (click)="cancelAppointment(appointment)" style="cursor: pointer;"><em translate>Action.Cancel</em></span>
                  <br/>
                  <span class="badge badge-pill badge-info p-1 mt-1" (click)="goToMedicalRecord(appointment.beneficiary)" style="cursor: pointer;"><em translate>Agenda.GoToMedicalRecord</em></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
