<div class="account-pages mt-5 mb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/">
                <img src="assets/images/logo-dark.png" alt="" height="50" />
              </a>
            </div>

            <aw-wizard #wizardForm>
              <aw-wizard-step [canExit]="emailForm.valid">
                <h4 class="text-black-50 text-center mb-4 mt-3" translate>RegisterPage.EnterYourEmail</h4>
                <form class="needs-validation" name="emailForm" [formGroup]="emailForm" (ngSubmit)="onCheckEmail()" novalidate>

                  <app-ui-preloader [display]="loading"></app-ui-preloader>
                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                  <div class="form-group mb-3" *ngIf="!success">
                    <input type="email" formControlName="email" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required" translate>RegisterPage.Required</div>
                      <div *ngIf="f.email.errors.email" translate>RegisterPage.ValidEmail</div>
                    </div>
                  </div>

                  <div class="form-group mb-0 text-center" *ngIf="!success">
                    <button class="btn btn-primary btn-block" type="submit" translate awNextStep>RegisterPage.Next</button>
                  </div>
                </form>
              </aw-wizard-step>
              <aw-wizard-step [canExit]="accountForm.valid">
                <form class="needs-validation" name="accountForm" [formGroup]="accountForm" (ngSubmit)="setPersonalInfo()" novalidate>
                <h4 class="text-black-50 text-center mb-4 mt-3" translate>RegisterPage.CreateYourAccountNow</h4>

                  <app-ui-preloader [display]="loading"></app-ui-preloader>
                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                  <div class="form-group mb-3" *ngIf="!success">
                    <input type="text" formControlName="firstName" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted2 && f2.firstName.errors }" id="firstName" placeholder="{{'RegisterPage.FirstName' | translate}}" />

                    <div *ngIf="submitted2 && f2.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f2.firstName.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>

                  <div class="form-group mb-3" *ngIf="!success">
                    <input type="text" formControlName="lastName" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted2 && f2.lastName.errors }" id="lastName" placeholder="{{'RegisterPage.LastName' | translate}}" />

                    <div *ngIf="submitted2 && f2.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f2.lastName.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>

                  <div class="form-group" *ngIf="!success">
                    <select class="form-control" id="genderEnum" formControlName="genderEnum"
                            [ngClass]="{ 'is-invalid': submitted2 && f2.genderEnum.errors }">
                      <option value="" disabled>Choose your gender</option>
                      <option value="MALE" translate>RegisterPage.Male</option>
                      <option value="FEMALE" translate>RegisterPage.Female</option>
                      <option value="OTHER" translate>RegisterPage.Other</option>
                    </select>
                    <div *ngIf="submitted2 && f2.genderEnum.errors" class="invalid-feedback">
                      <div *ngIf="f2.genderEnum.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>

                  <div class="form-group mb-3" *ngIf="!success">
                    <input type="text" class="form-control" formControlName="birthday" data-toggle="input-mask" mask="00/00/0000"
                           [ngClass]="{ 'is-invalid': submitted2 && f2.birthday.errors }" id="birthday" placeholder="{{'RegisterPage.Birthday' | translate}}">
                    <span class="font-13 text-muted">e.g "JJ/MM/AAAA"</span>
                    <div *ngIf="submitted2 && f2.birthday.errors" class="invalid-feedback">
                      <div *ngIf="f2.birthday.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                  <div class="form-group mb-3" *ngIf="!success">
                    <input mask="00 00 00 00 00" placeholder="Ex. 06 11 22 33 44" type="text" formControlName="phoneNumber" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted3 && f2.phoneNumber.errors }" id="phoneNumber"/>

                    <div *ngIf="submitted3 && f2.phoneNumber.errors" class="invalid-feedback">
                      <div *ngIf="f2.phoneNumber.errors.required" translate>RegisterPage.Required</div>
                    </div>
                  </div>
                  <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit" translate>RegisterPage.Next</button>
                  </div>
                </form>
              </aw-wizard-step>
                <aw-wizard-step>
                  <h4 class="text-black-50 text-center mb-4 mt-3" translate>RegisterPage.FinishYourRegister</h4>

                  <form class="needs-validation" name="passwordForm" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
                  <div class="form-group mb-3" *ngIf="!success">
                    <input [(ngModel)]="password" type="password" formControlName="password" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted3 && f3.password.errors }" id="password" placeholder="{{'RegisterPage.Password' | translate}}" />

                    <div *ngIf="submitted3 && f3.password.errors" class="invalid-feedback">
                      <div *ngIf="f3.password.errors.required" translate>RegisterPage.Required</div>
                    </div>
                    <app-password-strength-bar [passwordToCheck]="password" [barLabel]="''"></app-password-strength-bar>
                  </div>
                  <div class="form-group mb-0 text-center" *ngIf="!success">
                    <button class="btn btn-primary btn-block" type="submit" translate awNextStep>RegisterPage.Validate</button>
                  </div>
                  </form>
                </aw-wizard-step>
            </aw-wizard>
          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <p class="text-white-50 text-center"><a routerLink="/doctor/account/auth/register" class="text-white ml-1"><b translate>LoginPage.AreYouADoctor
        </b></a>
        </p>
      </div> <!-- end col -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<app-auth-footer></app-auth-footer>
