<div class="container-fluid mt-1 agenda p-1 bg-white mb-5">
  <div class="row">
    <div class="col-3 mt-5">
      <div class="mt-1 d-flex justify-content-center">
        <button class="btn btn-success agenda-btn" (click)="modalService.open(availabilityModal, { centered: true, size: 'lg' })"
                translate>
          <em class="mdi mdi-timetable"></em> Agenda.AddAvailabilityBtn
        </button>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <button class="btn btn-danger agenda-btn" (click)="modalService.open(unAvailabilityModal, { centered: true, size: 'lg' })"
                translate><em class="mdi mdi-timer-off"></em> Agenda.DeleteAvailabilityBtn
        </button>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <button class="btn btn-primary agenda-btn" (click)="openAddAppointmentModal(appointmentModal)"
                translate><em class="mdi mdi-camera-timer"></em> Agenda.AddAppointmentBtn
        </button>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <button class="btn btn-secondary agenda-btn" (click)="modalService.open(durationModal, { centered: true })"
                translate><em class="mdi mdi-timer-sand"></em> Agenda.EditAppointmentDuration
        </button>
      </div>
      <div class="mt-4">

      </div>
    </div>
    <div class="col-9">
      <!-- calendar -->
      <full-calendar #fullcalendar defaultView="dayGridMonth" [header]="{
                          left: 'prev,next, today',
                          center: 'title',
                          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                        }"
                     [slotDuration]="{minutes:appointmentDuration}"
                     [locales]="locales" locale="{{translateService.currentLang}}" [selectable]="false"
                     [selectMirror]="false"
                     [plugins]="calendarPlugins" themeSystem='bootstrap' [weekends]="calendarWeekends"
                     [editable]="false"
                     [nowIndicator]="true"
                     [handleWindowResize]="true"
                     [scrollTime]="'09:00'"
                     deepChangeDetection="true" [events]="calendarEvents" (dateClick)="openModal(appointmentModal, $event)"
                     (eventClick)="showAppointmentDetails(appointmentModal, $event)">
      </full-calendar>
    </div>
  </div>
</div>

<!-- availability Modal-->
<ng-template #availabilityModal let-modal="close">
  <div>
    <div class="modal-header bg-success">
      <h4 class="modal-title text-white" translate>Agenda.AddAvailabilityBtn</h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="modal('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Modal Body -->
    <div class="modal-body p-3 text-center">
      <p class="mt-0 mb-3" translate>Agenda.AgendaPopUpMessage1</p>
      <form class="needs-validation" [formGroup]="availabilityForm" (ngSubmit)="addAvailability()">
        <ng-container *ngTemplateOutlet="datepicker"></ng-container>
        <div class="row">
          <div class="col-3">
          </div>
          <div class="col-md-3 p-0" style="min-width: 30%; margin-left: 7%">
            <div class="input-group">
              <input class="form-control" formControlName="fromTime" type="time" name="fromTime"
                     [ngClass]="{ 'is-invalid': submitted && avForm.fromTime.errors }">
            </div>
          </div>
          <div class="col-md-3 p-0 ml-2" style="min-width: 30%;">
            <div class="input-group" >
              <input class="form-control" formControlName="toTime" type="time" name="toTime"
                     [ngClass]="{ 'is-invalid': submitted && avForm.toTime.errors }">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success mt-2" translate>
          Action.Save
        </button>
        <p class="mb-0 mt-3"  translate>Agenda.AgendaPopUpMessage2</p>
      </form>
    </div>
  </div>
  <!-- End body -->
</ng-template>

<!-- unAvailability Modal-->
<ng-template #unAvailabilityModal role="document" let-modal="close">
  <div class="modal-header bg-danger">
    <h4 class="modal-title text-white" translate>Agenda.DeleteAvailabilityBtn</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body p-3 text-center">
    <p class="mt-0 mb-3" translate>Agenda.AgendaPopUpMessage3</p>
    <form class="needs-validation" [formGroup]="unAvailabilityForm" (ngSubmit)="addUnAvailability()">
      <ng-container *ngTemplateOutlet="datepicker"></ng-container>
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-md-3 p-0" style="min-width: 30%; margin-left: 7%">
          <div class="input-group">
            <input class="form-control" formControlName="fromTime" type="time" name="fromTime"
                   [ngClass]="{ 'is-invalid': submitted && unAvForm.fromTime.errors }">
          </div>
        </div>
        <div class="col-md-3 p-0 ml-2" style="min-width: 30%;">
          <div class="input-group" >
            <input class="form-control" formControlName="toTime" type="time" name="toTime"
                   [ngClass]="{ 'is-invalid': submitted && unAvForm.toTime.errors }">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-danger mt-2" translate>
        Action.Delete
      </button>
      <p class="mt-3 mb-0" translate>Agenda.AgendaPopUpMessage4</p>
    </form>
  </div>
  <!-- End body -->
</ng-template>

<!-- add appointment Modal-->
<ng-template #appointmentModal role="document" let-modal="close">
  <div class="modal-header bg-primary">
    <h4 *ngIf="!isEditAppointment" class="modal-title text-white" translate>Agenda.AddAppointmentBtn</h4>
    <h4 *ngIf="isEditAppointment" class="modal-title text-white" translate>Agenda.UpdateStartDate</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal('Cross click'); appointmentForm.reset(); appointmentForm.enable()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body p-3 text-center">
    <p class="mb-3" *ngIf="!isEditAppointment" translate>Agenda.AgendaPopUpMessage5</p>
    <form class="needs-validation" [formGroup]="appointmentForm" (ngSubmit)="editAppointment()">
      <div class="row mt-2">
        <div class="col-md-2 p-0">
          <label translate>Date</label>
        </div>
        <div class="col-md-4 p-0">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [(ngModel)]="appointmentDate" [value]="formatter.format(appointmentDate)"
                   [minDate]="minDate" [maxDate]="maxDate"
                   formControlName="startAt" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><em class="mdi mdi-calendar"></em></button>
            </div>
          </div>
        </div>
        <div class="col-md-2 p-0">
          <label translate>Heure</label>
        </div>
        <div class="col-md-4 p-0">
          <div class="input-group" >
            <input class="form-control" formControlName="startTime" type="time" name="time">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 pr-0">
          <div class="input-group">
            <input class="form-control" placeholder="{{'RegisterPage.FirstName' | translate}}"
                   formControlName="firstName" type="text" name="time"
                   [ngClass]="{ 'is-invalid': submitted && appForm.firstName.errors}">
          </div>
        </div>
        <div class="col-6 pr-0">
          <div class="input-group" >
            <input class="form-control" placeholder="{{'RegisterPage.LastName' | translate}}"
                   formControlName="lastName" type="text" name="time"
                   [ngClass]="{ 'is-invalid': submitted && appForm.lastName.errors}">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 pr-0">
          <div class="input-group">
            <input class="form-control" placeholder="{{'RegisterPage.Email' | translate}}"
                   formControlName="email" type="email" name="time"
                   [ngClass]="{ 'is-invalid': submitted && appForm.email.errors}">
          </div>
        </div>
        <div class="col-6 pr-0">
          <div class="input-group" >
            <input mask="00 00 00 00 00" class="form-control" placeholder="{{'RegisterPage.PhoneNumber' | translate}}"
                   formControlName="phoneNumber" type="text" name="time"
                   [ngClass]="{ 'is-invalid': submitted && appForm.phoneNumber.errors}">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 pr-0">
          <div class="input-group">
            <textarea minlength="3" [ngClass]="{ 'is-invalid': submitted && appForm.reason.errors}"
                      class="form-control"  placeholder="{{'ReservationPage.Motif' | translate}}" formControlName="reason">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isEditAppointment"><button type="button" (click)="goToMedicalRecord()" class="btn btn-link"><u translate>Agenda.GoToMedicalRecord</u></button></div>

      <button *ngIf="!isEditAppointment" type="submit" class="btn btn-success mt-3" translate>
        Action.Save
      </button>
      <button *ngIf="isEditAppointment" type="submit" class="btn btn-success mt-1" translate>
        Action.Save
      </button>
      <button (click)="cancelAppointment()" *ngIf="isEditAppointment" type="button" class="btn btn-danger mt-1 ml-2" translate>
        Action.Cancel
      </button>
      <p *ngIf="!isEditAppointment" class="mt-2 mb-0" translate>Agenda.AgendaPopUpMessage6</p>
      <p *ngIf="isEditAppointment" class="mt-2 mb-0" translate>Agenda.AgendaPopUpMessage7</p>
    </form>
  </div>
  <!-- End body -->
</ng-template>

<!-- appointment duration Modal-->
<ng-template #durationModal role="document" let-modal="close">
  <div class="modal-header bg-secondary">
    <h4 class="modal-title text-white" translate>Agenda.EditAppointmentDuration</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body p-3 text-center">
    <form class="needs-validation" [formGroup]="appointmentDurationForm" (ngSubmit)="updateAppointmentDuration()">
      <div class="form-group">
        <label for="appointmentDuration" translate>Agenda.AppointmentDuration</label>
        <label *ngIf="appointmentDurationForm.value.duration == 0 || appointmentDurationForm.value.duration % 5 != 0">
          duration 5
        </label>
        <input type="number" [ngClass]="{ 'is-invalid': appointmentDurationForm.value.duration == 0 || appointmentDurationForm.value.duration % 5 != 0 }" formControlName="duration" class="form-control" id="appointmentDuration"/>
      </div>
      <button type="submit" class="btn btn-success mt-2" translate>
        Action.Save
      </button>
    </form>
  </div>
  <!-- End body -->
</ng-template>

<ng-template #datepicker>
  <div style="display: flex">
    <label class="mr-2" translate>Agenda.ChooseDateOrRange</label>
    <div class="form-group hidden">
      <div class="input-group">
        <input name="datepicker"
               class="form-control"
               ngbDatepicker
               #datepicker="ngbDatepicker"
               [autoClose]="'outside'"
               (dateSelect)="onDateSelection($event)"
               [displayMonths]="2"
               [dayTemplate]="t"
               [minDate]="minDate"
               [maxDate]="maxDate"
               outsideDays="hidden"
               [startDate]="fromDate!"
               tabindex="-1">
        <ng-template #t let-date let-focused="focused">
				<span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
        </ng-template>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input #dpFromDate
               class="form-control" placeholder="yyyy-mm-dd"
               name="dpFromDate"
               [value]="formatter.format(fromDate)"
               (input)="fromDate = validateInput(fromDate, dpFromDate.value)" [disabled]="true">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><em class="mdi mdi-calendar"></em></button>
        </div>
      </div>
    </div>
    <div class="form-group ml-2">
      <div class="input-group">
        <input #dpToDate
               class="form-control" placeholder="yyyy-mm-dd"
               name="dpToDate"
               [value]="formatter.format(toDate)"
               (input)="toDate = validateInput(toDate, dpToDate.value)" [disabled]="true">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><em class="mdi mdi-calendar"></em></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
