<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/doctor/account/login">
                <img src="assets/images/logo-dark.png" alt="" height="50" />
              </a>
<!--              <p class="text-muted mb-4 mt-3"><span translate>ResetPasswordPage.ResetPasswordInstructions </span><b>doctortest@gmail.com</b></p>-->
            </div>

            <form class="needs-validation" name="resetForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>

              <app-ui-preloader [display]="loading"></app-ui-preloader>

              <ngb-alert class="mt-1" type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
              <ngb-alert class="mt-1" type="success" *ngIf="success" [dismissible]="false">{{ success }}</ngb-alert>

              <div class="form-group mb-3" *ngIf="!success">
                <label for="newPassword" translate>ResetPasswordPage.NewPassword</label>

                <input type="password" formControlName="newPassword" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" id="newPassword" placeholder="Nouveau mot de passe" />

                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.newPassword.errors.required" translate>RegisterPage.Required</div>
                </div>
              </div>

              <div class="form-group mb-2" *ngIf="!success">
                <label for="confirmNewPassword" translate>ResetPasswordPage.ConfirmNewPassword</label>

                <input type="password" formControlName="confirmNewPassword" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors || changePasswordForm.value.confirmNewPassword !== changePasswordForm.value.newPassword}" id="confirmNewPassword" placeholder="Confirmer le nouveau mot de passe" />

                <div *ngIf="submitted && f.confirmNewPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmNewPassword.errors.required" translate>RegisterPage.Required</div>
                </div>
              </div>

              <app-password-strength-bar [passwordToCheck]="changePasswordForm.value.newPassword"
                                         [barLabel]="'LoginPage.PasswordStrength' | translate"></app-password-strength-bar>

              <div class="form-group mt-2 mb-0 text-center" *ngIf="!success">
                <button class="btn btn-primary btn-block" type="submit" translate>ResetPasswordPage.Submit</button>
              </div>
            </form>
          </div> <!-- end card-body-->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white-50" translate>ResetPasswordPage.BackTo <a routerLink="/doctor/account/login" class="text-white ml-1"><b translate>LoginPage.LoginBtn</b></a></p>
          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<app-auth-footer></app-auth-footer>
