<!-- Navigation Bar-->
<header id="topnav" *ngIf="currentUser == null">
  <app-topbar (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
  </app-topbar>
  <app-navbar [showMobileMenu]="showMobileMenu"></app-navbar>
</header>
<!-- End Navigation Bar-->

<div class="wrapper" *ngIf="currentUser == null">
  <!-- content -->
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<app-footer *ngIf="currentUser == null"></app-footer>
<!-- right sidebar -->
<app-rightsidebar *ngIf="currentUser == null"></app-rightsidebar>

<app-doctor-layout *ngIf="currentUser && currentUser.role == 'ROLE_DOCTOR'"></app-doctor-layout>
<app-patient-layout *ngIf="currentUser && currentUser.role == 'ROLE_PATIENT'"></app-patient-layout>
