/*
Template Name: Ubold - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Version: 3.1.0
Website: https://coderthemes.com/
Contact: support@coderthemes.com
File: Main Css File
*/


//Fonts
@import "custom/fonts/fonts";

//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables";
@import "./node_modules/bootstrap/scss/mixins.scss";

// Structure
@import "custom/structure/general";
@import "custom/structure/horizontal-nav";
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
@import "custom/structure/right-sidebar";

//Components
@import "custom/components/helper";
@import "custom/components/social";
@import "custom/components/widgets";
@import "custom/components/custom-checkbox";
@import "custom/components/custom-radio";
@import "custom/components/ribbons";
@import "custom/components/print";
@import "custom/components/preloader";

//Pages
@import "custom/pages/authentication";
@import "custom/pages/components-demo";
@import "custom/pages/error";
@import "custom/pages/logout";
@import "custom/pages/faq";
@import "custom/pages/carousel";
@import "custom/pages/timeline";
@import "custom/pages/email";
@import "custom/pages/sitemap";
@import "custom/pages/pricing";
@import "custom/pages/gallery";
@import "custom/pages/profile";
@import "custom/pages/taskboard";
@import "custom/pages/ecommerce";

// Plugins
@import "custom/plugins/calendar";
@import "custom/plugins/datatable";
@import "custom/plugins/daterange";
@import "custom/plugins/form-wizard";
@import "custom/plugins/select2";
@import "custom/plugins/slimscroll";
@import "custom/plugins/toaster";
@import "custom/plugins/sweetalert";
@import "custom/plugins/custom-select";
@import "custom/plugins/tippy";
@import "custom/plugins/animation";
@import "custom/plugins/chartjs";
@import "custom/plugins/chartist";
@import "custom/plugins/responsive-table";
@import "custom/plugins/bootstrap-tables";
@import "custom/plugins/jsgrid";
@import "custom/plugins/multiple-select";
@import "custom/plugins/autocomplete";
@import "custom/plugins/bootstrap-select";
@import "custom/plugins/colorpicker";
@import "custom/plugins/summernote";
@import "custom/plugins/dropzone";
@import "custom/plugins/dropify";
@import "custom/plugins/cropper";
@import "custom/plugins/google-maps";
@import "custom/plugins/datepicker";
@import "custom/plugins/range-slider";
@import "custom/plugins/ui-switch";
@import "custom/plugins/apexcharts";

// regular style toast
@import '~ngx-toastr/toastr';
// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
//@import '~ngx-toastr/toastr-bs4-alert';

.search-input.ng-select.ng-select-single .ng-select-container{
  height: 58px !important;
  cursor: text;
}

.search-input.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
  padding-top: 10px !important;
  cursor: text !important;
}

.ng-select .ng-select-container{
  border-radius: 0 !important;
}

.search-input.ng-select .ng-arrow-wrapper{
  display: none !important;
}

.search-input.ng-select .ng-select-container .ng-value-container .ng-input>input{
  cursor: text;
}

.fc-event{

}

.agenda-event{
  cursor: pointer;
  margin: auto;
  padding: 0;
  text-align: center;
}

.ngb-tp {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin-top: 5px;
  float: left;
  min-width: 10rem;
  padding: 0.75rem;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 0px solid #e7eef1;
  border-radius: 0.25rem;
  position: absolute;
  z-index: 1000;
}

.unAvailable{
  opacity: 0.9;
  cursor: default;
  margin: 0;
  inset-inline-start: 1%;
}

.available{
  margin-left: 2px;
  margin-right: 2px;
}

#toast-container > div {
  width: 420px !important;
}

.ng-tag-label{
  display: none !important;
}

.ng-option-label{
  font-weight: 600;
}

.ng-clear-wrapper{
  margin-right: 10px;
}

.ng-select .ng-clear-wrapper{
  color: #3827c1;
  font-weight: 900;
}

.ng-select .ng-clear-wrapper .ng-clear{
  font-size: 25px;
}

.ng-input input{
  font-weight: 500;
  font-size: 17px;
}

body{
  padding: 0 !important;
}

.fc-toolbar{
   margin: 0;
 }

.fc-toolbar.fc-header-toolbar{
  margin: 0;
}

.fc-view{
  margin-top: 12px;
}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value {
  background-color: #6658dd;
  color: #fff;
}
