<div class="container-fluid mt-3 p-2 bg-white mb-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <h4 class="header-title" translate>Patient.MyPatients <span class="badge badge-primary ml-1">{{total}}</span></h4>
          <p class="text-muted font-13 mb-4">
          </p>
          <div class="row mb-md-2 form-inline">
            <!-- Search -->
            <div class="col-3 ">
              <div  class="form-group">
                <label class="mr-2" for="status-select" translate>Action.SortBy</label>
                <select [(ngModel)]="selectedStatus" (change)="onStatusChange($event)" class="custom-select" id="status-select">
                  <option value="lastName" translate>RegisterPage.LastName</option>
                  <option value="firstName" translate>RegisterPage.FirstName</option>
                  <option value="email" translate>RegisterPage.Email</option>
                  <option value="phoneNumber" translate>RegisterPage.PhoneNumber</option>
                </select>
              </div>
            </div>
            <div class="col-sm-9 col-md-9">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                class="d-inline-flex align-items-center" translate>Patient.Search
                <input (ngModelChange)="search($event)" type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                       aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable" class="table dt-responsive nowrap table-striped">
              <thead>
              <tr>
                <th sortable="lastName" translate>RegisterPage.LastName</th>
                <th translate>RegisterPage.FirstName</th>
                <th sortable="email" translate>RegisterPage.Email</th>
                <th sortable="phoneNumber" translate>RegisterPage.PhoneNumber</th>
                <th>Action</th>
<!--                <th sortable="birthday" (sort)="onSort($event)">Birthday</th>-->
<!--                <th sortable="gender" (sort)="onSort($event)">Gender</th>-->
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let patient of patientsResult$">
                <td>
                  <ngb-highlight [result]="patient.lastName" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="patient.firstName" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="patient.email" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="patient.phoneNumber" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                  <span class="badge badge-pill badge-info ml-1 p-1" (click)="goToMedicalRecord(patient)" style="cursor: pointer;"><em translate>Agenda.GoToMedicalRecord</em></span>
                </td>
<!--                <td>-->
<!--                  <ngb-highlight [result]="patient.birthday" [term]="service.searchTerm"></ngb-highlight>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <ngb-highlight [result]="patient.gender" [term]="service.searchTerm"></ngb-highlight>-->
<!--                </td>-->
              </tr>
              </tbody>
            </table>
          </div>
<!--          &lt;!&ndash; End table &ndash;&gt;-->
<!--          <div class="row justify-content-md-between align-items-md-center mt-2">-->
<!--            <div class="col-sm-12 col-md-5">-->
<!--              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite"><span translate>Patient.Showing</span>-->
<!--                {{startIndex}} <span translate>Patient.To</span>-->
<!--                {{endIndex}} <span translate>Patient.Of</span> {{totalRecords}}-->
<!--                <span translate>Patient.Line</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Pagination &ndash;&gt;-->
<!--            <div class="col-sm-12 col-md-5">-->
<!--              <div class="text-md-right float-md-right pagination-rounded">-->
<!--                <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize">-->
<!--                </ngb-pagination>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Pagination &ndash;&gt;-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
