<div class="container-fluid mb-5">

  <div class="row pl-2 mb-1 pr-2 mt-2 p-2 card-box">
  <div class="col-10">
    <button class="btn font-weight-bold mr-2"
            [ngClass]="{'btn-primary':currentPatientData?.pk == selectedPatientPk,
                        'btn-outline-primary ':currentPatientData?.pk != selectedPatientPk,
                        'font-12 ':currentPatientData?.pk != selectedPatientPk,
                        'font-16 ':currentPatientData?.pk == selectedPatientPk}"
            (click)="selectPatient(currentPatientData?.pk)">

      {{currentPatientData?.firstName}} {{currentPatientData?.lastName}}</button>
    <span *ngFor="let person of patientFamily">
          <button *ngIf="person.pk != currentPatientData?.pk" (click)="selectPatient(person?.pk)"
                   [ngClass]="{'btn-primary':person?.pk == selectedPatientPk,
                        'btn-outline-primary ':person?.pk != selectedPatientPk,
                        'font-12 ':person?.pk != selectedPatientPk,
                        'font-16 ':person?.pk == selectedPatientPk}"
                   class="btn font-weight-bold mr-2">{{person?.firstName}} {{person?.lastName}}</button>
    </span>

  </div>
    <div class="col-2">
      <button class="btn btn-success font-weight-bold font-14 mr-2 pull-right" (click)="modalService.open(familyMemberModal,{ centered: true })" translate>ReservationPage.AddUser</button>
    </div>
  </div>

  <div class="row">

    <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4 pl-0">
      <div class="card-box ribbon-box mb-1">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-doctor mr-1"></em> MedicalRecord.MyDoctor
        </div>
        <div class="ribbon-content">
          <div class="row">
            <div class="col-12 mt-2">
              <div class="input-group">
                <input class="form-control" placeholder="{{'RegisterPage.FirstName' | translate}}"
                       [(ngModel)]="medicalRecord.treatingDoctorFirstName" type="text" name="time">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="input-group" >
                <input class="form-control" [(ngModel)]="medicalRecord.treatingDoctorLastName" placeholder="{{'RegisterPage.LastName' | translate}}"
                        type="text" name="time">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-2">
              <div class="input-group">
                <input class="form-control" [(ngModel)]="medicalRecord.treatingDoctorEmail" placeholder="{{'RegisterPage.Email' | translate}}"
                        type="email" name="email">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="input-group" >
                <input mask="00 00 00 00 00" class="form-control" [(ngModel)]="medicalRecord.treatingDoctorPhone" placeholder="{{'RegisterPage.PhoneNumber' | translate}}"
                        type="text" name="phoneNumber">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box mb-1">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="fas fa-weight mr-1"></em><span translate>MedicalRecord.weight </span>&<span translate> MedicalRecord.height</span>
        </div>
        <div class="ribbon-content">
          <div class="input-group pl-2">
            <input class="form-control" [(ngModel)]="medicalRecord.weight" placeholder="{{'MedicalRecord.weight' | translate}}"  type="number" name="time">
            <input class="form-control" [(ngModel)]="medicalRecord.height" placeholder="{{'MedicalRecord.height' | translate}}" type="number" name="time">
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box mb-1">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="fas fa-syringe mr-1"></em> MedicalRecord.vaccineStatus
        </div>
      <div class="ribbon-content mt-2">
        <p class="font-weight-bold" translate>MedicalRecord.vaccineStatusAsk</p>
        <ng-select id="languages"
                   [items]="vaccineData"
                   bindLabel="name"
                   [multiple]="true"
                   [(ngModel)]="selectedVaccine"
        >
        </ng-select>

      </div>
      </div>
      <div class="card-box ribbon-box mt-1">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-comment-question mr-1"></em> MedicalRecord.insuranceProvider
        </div>
        <div class="ribbon-content">
          <div class="input-group">
            <input class="form-control" [(ngModel)]="medicalRecord.insuranceProvider" type="text" name="insuranceProvider">
          </div>
        </div>
      </div>
    </div>

    <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4">
      <div class="card-box ribbon-box">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-medical-bag mr-1"></em> MedicalRecord.MedicalBackground
        </div>
        <div class="ribbon-content border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.cvDiseases</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input id="radio1" name="cvDiseases" [(ngModel)]="medicalRecord.cvDiseases" type="radio" value="Y">
            <label for="radio1" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input id="radio2" name="cvDiseases" [(ngModel)]="medicalRecord.cvDiseases" type="radio" value="N">
            <label for="radio2" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input id="radio3" name="cvDiseases" [(ngModel)]="medicalRecord.cvDiseases" type="radio" value="D">
            <label for="radio3" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.cvDiseasesFamily</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input  id="radio4" [(ngModel)]="medicalRecord.cvDiseasesFamily" name="cvDiseasesFamily" type="radio" value="Y">
            <label for="radio4" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input  id="radio5" [(ngModel)]="medicalRecord.cvDiseasesFamily" name="cvDiseasesFamily" type="radio" value="N">
            <label for="radio5" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input id="radio6" [(ngModel)]="medicalRecord.cvDiseasesFamily" name="cvDiseasesFamily" type="radio" value="D">
            <label for="radio6" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.cvDiseasesRisk</p>
          <ng-select id="cvDiseasesRisk"
                     [items]="cvDiseasesRiskData"
                     bindLabel="name"
                     [multiple]="true"
                     [(ngModel)]="selectedCvDiseasesRisk"
          >
          </ng-select>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.asthma</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input id="radio7" [(ngModel)]="medicalRecord.asthma" name="asthma" type="radio" value="Y">
            <label for="radio7" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input  id="radio8" [(ngModel)]="medicalRecord.asthma" name="asthma" type="radio" value="N">
            <label for="radio8" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input  id="radio9" [(ngModel)]="medicalRecord.asthma" name="asthma" type="radio" value="D">
            <label for="radio9" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.stress</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input id="radio10" [(ngModel)]="medicalRecord.stress" name="stress" type="radio" value="Y">
            <label for="radio10" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input  id="radio11" [(ngModel)]="medicalRecord.stress" name="stress" type="radio" value="N">
            <label for="radio11" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input  id="radio12" [(ngModel)]="medicalRecord.stress" name="stress" type="radio" value="D">
            <label for="radio12" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.moral</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input id="radio13" [(ngModel)]="medicalRecord.moral" name="moral" type="radio" value="Y">
            <label for="radio13" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input  id="radio14" [(ngModel)]="medicalRecord.moral" name="moral" type="radio" value="N">
            <label for="radio14" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input  id="radio15" [(ngModel)]="medicalRecord.moral" name="moral" type="radio" value="D">
            <label for="radio15" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2">
          <p class="font-weight-bold" translate>MedicalRecord.otherPathology</p>
          <div class="input-group">
            <input class="form-control" [(ngModel)]="medicalRecord.otherPathology" type="text" name="otherPathology"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4 pr-0">
      <div class="card-box ribbon-box mb-2">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-medical-bag mr-1"></em> MedicalRecord.surgical
        </div>
        <div class="ribbon-content">
          <p class="font-weight-bold" translate>MedicalRecord.surgicalAsk</p>
          <div class="input-group">
            <input class="form-control" [(ngModel)]="medicalRecord.surgical" type="text" name="surgical"/>
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box mb-2">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-pill mr-1"></em> MedicalRecord.longTermTreatment
        </div>
        <div class="ribbon-content">
          <p class="font-weight-bold" translate>MedicalRecord.longTermTreatmentAsk</p>
          <div class="input-group">
            <input class="form-control" [(ngModel)]="medicalRecord.longTermTreatment" type="text" name="longTermTreatment"/>
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box mb-2">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-comment-question mr-1"></em> MedicalRecord.drugAllergies
        </div>
        <div class="ribbon-content">
          <p class="font-weight-bold" translate>MedicalRecord.drugAllergiesAsk</p>
          <div class="input-group">
            <input class="form-control" [(ngModel)]="medicalRecord.drugAllergies" type="text" name="drugAllergies">
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box">
        <button class="btn btn-success font-weight-bold font-16 btn-block mr-2" (click)="updateMedicalRecord()" translate>Action.Save</button>
      </div>
    </div>
  </div>
</div>


<!-- add family member Modal-->
<ng-template #familyMemberModal role="document" let-modal="close">
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-white" translate>ReservationPage.AddUser</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body p-3 text-center">
    <form class="needs-validation" [formGroup]="familyMemberForm" (ngSubmit)="onSubmit()">
      <div class="row mt-2">
        <div class="col-6 pr-0">
          <div class="input-group">
            <input class="form-control" placeholder="{{'RegisterPage.FirstName' | translate}}"
                   formControlName="firstName" type="text" name="time"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}">
          </div>
        </div>
        <div class="col-6 pr-0">
          <div class="input-group" >
            <input class="form-control" placeholder="{{'RegisterPage.LastName' | translate}}"
                   formControlName="lastName" type="text" name="time">
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6 pr-0">
          <div class="form-group">
            <select class="form-control" id="genderEnum" formControlName="genderEnum"
                    [ngClass]="{ 'is-invalid': submitted && f.genderEnum.errors }">
              <option value="" disabled translate>RegisterPage.ChooseYourGender</option>
              <option value="MALE" translate>RegisterPage.Male</option>
              <option value="FEMALE" translate>RegisterPage.Female</option>
              <option value="OTHER" translate>RegisterPage.Other</option>
            </select>
            <div *ngIf="submitted && f.genderEnum.errors" class="invalid-feedback">
              <div *ngIf="f.genderEnum.errors.required" translate>RegisterPage.Required</div>
            </div>
          </div>
        </div>
        <div class="col-6 pr-0">
          <div class="form-group" style="text-align: left;">
            <input type="text" class="form-control" formControlName="birthday" data-toggle="input-mask"
                   mask="00/00/0000"
                   [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" id="birthday"
                   placeholder="{{'RegisterPage.Birthday' | translate}}">
            <span class="font-13 text-muted">e.g "JJ/MM/AAAA"</span>
            <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
              <div *ngIf="f.birthday.errors.required" translate>RegisterPage.Required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-0">
        <div class="col-6 pr-0">
          <div class="form-group">
            <select class="form-control" formControlName="patientRelationshipEnum"
                    [ngClass]="{ 'is-invalid': submitted && f.patientRelationshipEnum.errors }">
              <option value="" disabled translate>ReservationPage.ChooseYourRelationShip</option>
              <option value="SON" translate>ReservationPage.Son</option>
              <option value="DAUGHTER" translate>ReservationPage.Daughter</option>
              <option value="HUSBAND" translate>ReservationPage.Husband</option>
              <option value="WIFE" translate>ReservationPage.Wife</option>
              <option value="OTHER" translate>RegisterPage.Other</option>
            </select>
            <div *ngIf="submitted && f.patientRelationshipEnum.errors" class="invalid-feedback">
              <div *ngIf="f.patientRelationshipEnum.errors.required" translate>RegisterPage.Required</div>
            </div>
          </div>
        </div>
      </div>

      <button  type="submit" class="btn btn-success mt-2" translate>
        Action.Save
      </button>

    </form>
  </div>
  <!-- End body -->
</ng-template>
