<div class="topbar-menu" *ngIf="showMobileMenu">
  <div class="container-fluid">
    <div id="navigation" [ngbCollapse]="!showMobileMenu">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">

        <li class="has-submenu">
          <a href="/" translate>Header.Home</a>
        </li>

        <li class="has-submenu">
          <a href="/#howitworks" translate>Header.HowItWorks</a>
        </li>

        <li class="has-submenu">
          <a routerLink="/doctor/account/auth/register" translate>Header.IamADoctor</a>
        </li>

        <li class="has-submenu" >
          <a routerLink="/patient/account/auth/login" translate>
            LoginPage.LoginBtn <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>

        <li class="has-submenu" >
          <a routerLink="/patient/account/auth/register" translate>
            LoginPage.Register <i class="fas fa-user-circle"></i>
          </a>
        </li>
      </ul>
      <!-- End navigation menu -->

      <div class="clearfix"></div>
    </div>
    <!-- end #navigation -->
  </div>
  <!-- end container -->
</div>
<!-- end navbar-custom -->
