<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid pr-0">
    <ul class="list-unstyled topnav-menu float-right mb-0">

      <li class="dropdown notification-list">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle nav-link" [ngClass]="{'open': openMobileMenu}" (click)="toggleMobileMenu($event)" href="javascript: void(0);">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </li>

      <li class="nav-link" [hidden]="true">

        <button class="btn btn-rounded btn-light btn-solid" style="font-weight: 600;" translate>
          <i class="fas fa-mobile pr-1"></i> Header.DownloadApp
        </button>
      </li>
      <li class="d-none d-lg-block">
        <a class="nav-link" routerLink="/patient/account/auth/register" translate>
          <i class="fas fa-user-circle"></i>
          <span class="pro-user-name ml-1" translate>
            LoginPage.Register
          </span>
        </a>
      </li>
      <li class="d-none d-lg-block">
        <a class="nav-link" routerLink="/patient/account/auth/login" translate>
          <i class="fas fa-sign-in-alt"></i>
          <span class="pro-user-name ml-1" translate>
            LoginPage.LoginBtn
          </span>
        </a>
      </li>
      <li class="dropdown notification-list" style="display: none;">
        <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light"
          (click)="toggleRightSidebar()">
          <i class="fe-help-circle noti-icon"></i>
        </a>
      </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
      <a href="/" class="logo text-center">
        <span class="logo-lg">
          <img src="assets/images/logo-light.png" alt="" height="37" />
          <!-- <span class="logo-lg-text-light">Xeria</span> -->
        </span>
        <span class="logo-sm">
          <!-- <span class="logo-sm-text-dark">X</span> -->
          <img src="assets/images/logo-light.png" alt="" height="40" />
        </span>
      </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <li class="d-none d-lg-block">
        <a class="nav-link" routerLink="/" translate>
          Header.Home
        </a>
      </li>
      <li class="d-none d-lg-block">
        <a class="nav-link" href="/#howitworks" translate>
          Header.HowItWorks
        </a>
      </li>
      <li class="d-none d-lg-block">
        <a class="nav-link" routerLink="/doctor/dashboard" href="javascript: void(0);" translate>
          Header.IamADoctor
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- end Topbar -->
