<form class="needs-validation" name="loginForm" [formGroup]="loginForm" (ngSubmit)="updateLogin()" novalidate>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 offset-md-4 offset-lg-4 offset-sm-3">
      <div class="form-group">
        <label for="currentPassword" translate>ResetPasswordPage.CurrentPassword</label>
        <input type="password" formControlName="currentPassword" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" id="currentPassword"
               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'ResetPasswordPage.CurrentPassword' | translate}}"/>
        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
          <div *ngIf="f.currentPassword.errors.required" translate>RegisterPage.Required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 offset-md-4 offset-lg-4 offset-sm-3">
      <div class="form-group">
        <label for="newPassword" translate>ResetPasswordPage.NewPassword</label>
        <input type="password" formControlName="newPassword" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" id="newPassword"
               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'ResetPasswordPage.NewPassword' | translate}}"/>
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required" translate>RegisterPage.Required</div>
        </div>
      </div>
      <app-password-strength-bar [passwordToCheck]="loginForm.value.newPassword"
                                 [barLabel]="'LoginPage.PasswordStrength' | translate"></app-password-strength-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 offset-md-4 offset-lg-4 offset-sm-3">
      <div class="form-group">
        <label for="confirmPassword" translate>LoginPage.ConfirmPassword</label>
        <input type="password" formControlName="confirmPassword" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors || loginForm.value.confirmPassword !== loginForm.value.newPassword}" id="confirmPassword"
               placeholder="{{'LoginPage.ConfirmPassword' | translate}}"/>
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required" translate>RegisterPage.Required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center">
      <button type="submit" class="btn btn-success mt-2" translate>
        Profile.Save
      </button>
    </div>
  </div>
</form>
