<div class="container">
  <div class="row">
    <div class="col-md-9 col-lg-10 col-sm-8 col-8 pr-0">
      <ng-select
        class="search-input"
        [items]="searchElements"
        bindLabel="name"
        bindValue="name"
        groupBy="groupedBy"
        placeholder="{{'Action.SearchPlaceHolder' | translate}}"
        (search)="findDoctorsByFullName($event)"
        (change)="change($event)"
        (keydown)="keypress($event)"
        [addTag]="true"
        [clearSearchOnAdd]="true"
        [(ngModel)]="selectedElem">
        <ng-template ng-optgroup-tmp let-item="item">
          {{item.groupedBy || 'Unnamed group'}}
        </ng-template>
      </ng-select>
    </div>
    <div class="col-md-3 col-lg-2 col-sm-4 col-4 pl-0">
      <button class="btn btn-success btn-search btn-lg" (click)="search()" translate>Action.Search</button>
    </div>
  </div>
  <div class="result mt-3">
    <app-doctor-search-card *ngFor="let doctor of doctors" [doctor]="doctor" [isFullPage]="false">
    </app-doctor-search-card>
  </div>
  <div class="text-center my-4">
<!--    <a [hidden]="stopScrollLoading" class="text-primary" translate>-->
<!--      <i class="mdi mdi-spin mdi-loading mr-1">-->
<!--      </i>Search.LoadMore</a>-->
    <a [hidden]="!stopScrollLoading" class="text-primary" translate>
      Search.NoMoreData</a>
  </div>
</div>
