.container{
  margin-top: 2em;
}

.search-row{
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.2);
}

.search-input{
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.2);
}

.btn-search{
  height: 100%;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.2);
  font-size: 0.9rem;
}

.ng-select.ng-select-single .ng-select-container {
  height: 58px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-top: 10px !important;
}
