<div class="topbar-menu" *ngIf="showMobileMenu">
    <div class="container-fluid">
        <div id="navigation" [ngbCollapse]="!showMobileMenu">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

              <li class="has-submenu">
                <a routerLink="/" translate><i class="fas fa-home"></i> Header.Home</a>
              </li>

              <li class="has-submenu">
                <a class="nav-link" routerLink="/doctor/dashboard/consultations" translate>
                  <i class="far fa-calendar-check"></i>
                  Header.Consultation
                </a>
              </li>

              <li class="has-submenu">
                <a class="nav-link" routerLink="/doctor/dashboard/agenda" translate>
                  <i class="far fa-calendar-alt"></i>
                  Header.MyAgenda
                </a>
              </li>

              <li class="has-submenu" >
                <a class="nav-link" routerLink="/doctor/dashboard/patients" translate>
                  <i class="fas fa-users"></i>
                  Header.MyPatients
                </a>
              </li>
            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->
