<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid pr-0">
    <ul class="list-unstyled topnav-menu float-right mb-0">

      <li class="dropdown notification-list">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle nav-link" [ngClass]="{'open': openMobileMenu}" (click)="toggleMobileMenu($event)" href="javascript: void(0);">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </li>

      <li class="d-none d-lg-block">
        <a class="nav-link" routerLink="/patient/dashboard/my-consultations" [target]="getMenuTarget()" translate>
          <i class="far fa-calendar-check"></i>
          Header.Consultation
        </a>
      </li>
      <li class="d-none d-lg-block">
        <a class="nav-link" routerLink="/patient/dashboard/medical-record" [target]="getMenuTarget()" translate>
          <i class="fas fa-book-medical"></i>
          Header.MedicalRecord
        </a>
      </li>
      <li class="d-none d-lg-block">
        <a class="nav-link" routerLink="/patient/dashboard/my-documents" [target]="getMenuTarget()" translate>
          <i class="fas fa-file-medical-alt"></i>
          Header.MyDocuments
        </a>
      </li>

      <li class="dropdown notification-list" ngbDropdown placement="bottom-right" display="dynamic">
        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" ngbDropdownToggle
           id="profileDropdown" href="javascript: void(0);" role="button" aria-haspopup="false" aria-expanded="false">
          <i class="fas fa-user-circle"></i>
          <span class="pro-user-name ml-1" translate>
            Header.MyAccount <i class="mdi mdi-chevron-down"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="profileDropdown"
             ngbDropdownMenu>
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0" translate>Header.Welcome</h6>
          </div>
          <div class="dropdown-divider" style="margin: 0.2rem 0;"></div>
          <!-- item-->
          <a routerLink="/patient/account/settings/profile" class="dropdown-item notify-item" [target]="getMenuTarget()">
            <i class="fe-settings"></i>
            <span translate>Header.Settings</span>
          </a>
          <div class="dropdown-divider" style="margin: 0.2rem 0;"></div>
          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logout()">
            <i class="fe-log-out"></i>
            <span translate>Header.LogOut</span>
          </a>
        </div>
      </li>
      <li class="dropdown notification-list" ngbDropdown style="display: none;">
        <a class="nav-link dropdown-toggle  waves-effect waves-light" href="javascript: void(0);" role="button"
           aria-haspopup="false" aria-expanded="false" ngbDropdownToggle id="notificationDropdown">
          <i class="fe-bell noti-icon"></i>
          <span class="badge badge-danger rounded-circle noti-icon-badge">4</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg"
             aria-labelledby="notificationDropdown" ngbDropdownMenu>

          <!-- item-->
          <div class="dropdown-item noti-title" ngbDropdownItem>
            <h5 class="m-0">
              <span class="float-right">
                <a href="javascript: void(0);" class="text-dark">
                  <small>Clear All</small>
                </a>
              </span>Notification
            </h5>
          </div>

          <div id="notification-items" class="slimscroll noti-scroll" appSlimScroll>
            <!-- item-->
            <a *ngFor="let notification of notificationItems;" href="{{ notification.redirectTo }}"
               class="dropdown-item notify-item" ngbDropdownItem>
              <div class="notify-icon bg-soft-{{ notification.bgColor }} text-{{ notification.bgColor }}">
                <i class="{{ notification.icon }}"></i>
              </div>
              <p class="notify-details">{{ notification.text }}
                <small class="text-muted">{{ notification.subText }}</small>
              </p>
            </a>
          </div>

          <!-- All-->
          <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
            View All
          </a>
        </div>
      </li>

      <li class="dropdown notification-list" style="display: none;">
        <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light"
           (click)="toggleRightSidebar()">
          <i class="fe-help-circle noti-icon"></i>
        </a>
      </li>

    </ul>

    <!-- LOGO -->
    <div class="logo-box">
      <a routerLink="/" class="logo text-center" [target]="getMenuTarget()">
        <span class="logo-lg">
          <img src="assets/images/logo-light.png" alt="" height="37" />
          <!-- <span class="logo-lg-text-light">Xeria</span> -->
        </span>
        <span class="logo-sm">
          <!-- <span class="logo-sm-text-dark">X</span> -->
          <img src="assets/images/logo-light.png" alt="" height="40" />
        </span>
      </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <li class="d-none d-lg-block">
        <a class="nav-link" routerLink="/patient/dashboard" [target]="getMenuTarget()" translate>
          Header.Home
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- end Topbar -->
