.nav-link, .btn-rounded {
    font-weight: 530;
}

#header-bg {
    padding-bottom: 130px;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

@media screen and (min-width: 800px) {
    #header-bg{
        background-image: url('../img/patient/bg5.jpeg');
    }
    #header-mobile-bg{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #header-mobile-bg{
        background-image: url('../img/patient/mobile-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; height: 270px;
        margin: 0;
    }
    #header-bg{
        padding-top: 70px;
        padding-bottom: 30px;
        background: #f8f9fa;
    }
    #header-mobile-text{
        padding-top: 10px;
        padding-bottom: 0;
        -webkit-box-shadow: 0px -12px 15px 3px rgba(245,233,245,1);
        -moz-box-shadow: 0px -12px 15px 3px rgba(245,233,245,1);
        box-shadow: 0px -12px 15px 3px rgba(245,233,245,1);
    }
    #headline{
        min-height: 100px;
    }
    #headline-text{
        font-size: 2.5rem !important;
    }
    #main-nav{
        padding-bottom: 0;
    }
}

#header-bg-doctor {
    padding-bottom: 110px;
}

/* The container must be positioned relative: */
.custom-selector {
    border-radius: 2rem;
    background-color: white;
    cursor: pointer;
    height: 34px;
    padding-bottom: 0.50rem;
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: black;
}
.custom-selector:hover{
    background-color:#5e66d5;
    color: white;
}

.custom-selector-item{
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    margin-right: 1rem;
    padding: 1rem;
}

.btn-cta{
    color: #ffffff;
    background-color: #5e66d5;
    border-color: #5e66d5;
}
