<div class="container-fluid">
  <app-page-title title="Profil" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-4 col-xl-4">
      <!-- start card-box -->
      <div class="card-box text-center">
        <img [src]="profilePic" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">

        <h4 class="mb-0">{{doctorData?.firstName}} {{doctorData?.lastName}}</h4> <!-- full name -->
        <!-- profession -->
        <p class="text-muted" *ngIf="doctorData?.profession?.title != doctorData?.speciality?.name">
          @{{doctorData?.profession?.title}} {{doctorData?.speciality?.name}}
        </p>
        <p class="text-muted" *ngIf="doctorData?.profession?.title == doctorData?.speciality?.name">
          <span *ngIf="doctorData?.speciality?.name == 'Infirmier(e)' && doctorData?.gender == 'MALE'">
            @Infirmier
          </span>
          <span *ngIf="doctorData?.speciality?.name == 'Infirmier(e)' && doctorData?.gender == 'FEMALE'">
            @Infirmiere
          </span>
          <span *ngIf="doctorData?.speciality?.name != 'Infirmier(e)'">
             {{doctorData?.speciality?.name}}
          </span>
        </p>

        <button type="button" (click)="openEditImageModal(content)"
                class="btn btn-success btn-rounded btn-xs waves-effect mb-2 waves-light" translate>
          <i class="fas fa-edit"></i> Profile.ChangePic
        </button>

        <div class="text-left mt-3">
          <h4 class="font-13 text-uppercase" translate>Profile.AboutMe</h4>
          <p class="text-muted font-13 mb-3">
            {{doctorData?.bio}}
          </p>
          <p class="text-muted mb-2 font-13">
            <strong translate>Profile.FullName</strong>
            <span class="ml-2">{{doctorData?.firstName}} {{doctorData?.lastName}}</span>
          </p>
          <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span
            class="ml-2">{{doctorData?.phoneNumber}}</span></p>
          <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span
            class="ml-2 ">{{doctorData?.email}}</span></p>
        </div>
      </div>
      <!-- end card-box -->
    </div>

    <div class="col-lg-8 col-xl-8 mb-4">
      <div class="card-box">
        <form class="needs-validation" name="profileForm" [formGroup]="profileForm" (ngSubmit)="updateProfile()"
              novalidate>
          <ngb-tabset justify="justified" type="pills">
            <ngb-tab title="{{'Profile.MyInfo' | translate}}">
              <ng-template ngbTabContent>
                <div class="tab-pane show active" id="personalInfo">
                  <h5 class="mb-3 text-uppercase bg-light p-2" translate>
                    <em class="mdi mdi-account-circle mr-1"></em>
                    Profile.PersonalInfo</h5>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstName" translate>RegisterPage.FirstName</label>
                        <input type="text" formControlName="firstName" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" id="firstName"
                               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.FirstName' | translate}}"/>
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required" translate>RegisterPage.Required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="useremail" translate>RegisterPage.Email</label>
                        <span class="text-muted">
                        <small> If you want to change email please
                          <a href="javascript: void(0);">click </a>here.
                      </small>
                      </span>
                        <input type="email" value="{{doctorData?.email}}" class="form-control" id="useremail"
                               placeholder="" [disabled]="true">
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="firstName" translate>RegisterPage.City</label>
                            <input type="text" formControlName="city" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.city.errors }" id="city"
                                   placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.City' | translate}}"/>
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                              <div *ngIf="f.city.errors.required" translate>RegisterPage.Required</div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label for="postalCode" translate>RegisterPage.PostalCode</label>
                            <input type="text" formControlName="postalCode" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" id="postalCode"
                                   placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.PostalCode' | translate}}"/>
                            <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                              <div *ngIf="f.postalCode.errors.required" translate>RegisterPage.Required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastName" translate>RegisterPage.LastName</label>
                        <input type="text" formControlName="lastName" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" id="lastName"
                               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.LastName' | translate}}"/>
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required" translate>RegisterPage.Required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="phoneNumber" translate>RegisterPage.PhoneNumber</label>

                        <input mask="00 00 00 00 00" type="text" formControlName="phoneNumber" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" id="phoneNumber"
                               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.PhoneNumber' | translate}}"/>

                        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.phoneNumber.errors.required" translate>RegisterPage.Required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="gender" translate>RegisterPage.Gender</label>
                        <select class="form-control" id="gender" formControlName="gender"
                                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                          <option value="" disabled translate>RegisterPage.ChooseYourGender</option>
                          <option value="MALE" translate>RegisterPage.Male</option>
                          <option value="FEMALE" translate>RegisterPage.Female</option>
                          <option value="OTHER" translate>RegisterPage.Other</option>
                        </select>
                        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                          <div *ngIf="f.gender.errors.required" translate>RegisterPage.Required</div>
                        </div>
                      </div>
                    </div> <!-- end col -->
                  </div> <!-- end row -->

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="bio">Bio</label>
                        <textarea class="form-control" id="bio" rows="4"
                                  placeholder="{{'Profile.Write' | translate}}..." formControlName="bio"
                                  [ngClass]="{ 'is-invalid': submitted && f.bio.errors }"></textarea>
                        <div *ngIf="submitted && f.bio.errors" class="invalid-feedback">
                          <div *ngIf="f.bio.errors.required" translate>RegisterPage.Required</div>
                        </div>
                      </div>
                    </div> <!-- end col -->
                  </div> <!-- end row -->

                  <h5 class="mb-3 text-uppercase bg-light p-2" translate>
                    <i class="mdi mdi-account-circle mr-1"></i>
                    Profile.ProfessionalInfo</h5>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="languages" translate>Profile.Languages</label>
                        <ng-select id="languages"
                                   [items]="languagesData"
                                   bindLabel="name"
                                   placeholder="{{'RegisterPage.SelectYours' | translate}} {{'RegisterPage.Languages' | translate}}"
                                   [multiple]="true"
                                   formControlName="languages"
                        >
                        </ng-select>
                        <div *ngIf="submitted && f.languages.errors" class="invalid-feedback">
                          <div *ngIf="f.languages.errors.required" translate>RegisterPage.Required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="teleconsultationPrice" translate>Profile.TeleconsultationPrice</label>
                        <input type="text" formControlName="teleconsultationPrice" class="form-control"
                               [ngClass]="{ 'is-invalid': submitted && f.teleconsultationPrice.errors }" id="teleconsultationPrice"
                               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'Profile.TeleconsultationPrice' | translate}}"/>
                        <div *ngIf="submitted && f.teleconsultationPrice.errors" class="invalid-feedback">
                          <div *ngIf="f.teleconsultationPrice.errors.required" translate>RegisterPage.Required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="agreementStatus" translate>RegisterPage.AgreementStatus</label>
                        <select class="form-control" id="agreementStatus" formControlName="agreementStatus"
                                [ngClass]="{ 'is-invalid': submitted && f.agreementStatus.errors }">
                          <option value="" disabled>Choose your status</option>
                          <option value="CONVENTIONED" translate>RegisterPage.CONVENTIONED</option>
                          <option value="PARTIALLY_CONVENTIONED" translate>RegisterPage.PARTIALLY_CONVENTIONED</option>
                          <option value="NOT_CONVENTIONED" translate>RegisterPage.NOT_CONVENTIONED</option>
                        </select>
                        <div *ngIf="submitted && f.agreementStatus.errors" class="invalid-feedback">
                          <div *ngIf="f.agreementStatus.errors.required" translate>RegisterPage.Required</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <button type="submit" class="btn btn-success waves-effect waves-light mt-2" translate>
                      <i class="mdi mdi-content-save"></i> Profile.Save
                    </button>
                  </div>
                </div>
                <!-- end settings content-->
              </ng-template>
            </ngb-tab>
<!--            <ngb-tab title="{{'Profile.MyServices' | translate}}">-->
<!--              <ng-template ngbTabContent>-->
<!--                <div class="tab-content">-->
<!--                  <div class="tab-pane active" id="myServices">-->
<!--                    <div class="card">-->
<!--                      <div class="card-body">-->
<!--                        <div class="row mb-2">-->
<!--                          <div class="col-sm-4">-->
<!--                          </div>-->
<!--                          <div class="col-sm-8">-->
<!--                            <div class="text-sm-right">-->
<!--                              <a href="javscript: void(0);" class="btn btn-danger mb-2"-->
<!--                                 (click)="openJobPriceModal(servicesContent)"><i class="mdi mdi-plus-circle mr-1"></i>-->
<!--                                Add-->
<!--                                Service</a>-->
<!--                            </div>-->
<!--                          </div>&lt;!&ndash; end col&ndash;&gt;-->
<!--                        </div>-->

<!--                        <div class="table-responsive">-->
<!--                          <table class="table table-centered table-hover mb-0">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                              <th>Name</th>-->
<!--                              <th>Description</th>-->
<!--                              <th>Price</th>-->
<!--                              <th style="width: 82px;">Action</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr *ngFor="let job of jobPricesData">-->
<!--                              <td>-->
<!--                                {{job.name}}-->
<!--                              </td>-->
<!--                              <td>-->
<!--                                {{job.description}}-->
<!--                              </td>-->
<!--                              <td>-->
<!--                                €{{job.price}}-->
<!--                              </td>-->
<!--                              <td>-->
<!--                                <a class="action-icon" (click)="setJobDataToUpdateModal(job, servicesContent)"> <i-->
<!--                                  class="mdi mdi-square-edit-outline"></i></a>-->
<!--                                <a class="action-icon" (click)="deleteJob(job.pk)"> <i class="mdi mdi-delete"></i></a>-->
<!--                              </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                          </table>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </ngb-tab>-->
          </ngb-tabset>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Profile Modal Data-->
<ng-template #content role="document" let-modal="close">
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-white" translate>Profile.DragDrop</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body p-3 text-center">
    <form class="needs-validation" [formGroup]="imageForm" (ngSubmit)="onUpload()">
      <file-upload formControlName="files" [multiple]="multiple" [accept]="'image/*'" [animation]="animation" class="dropzone"></file-upload>
      <button type="submit" class="btn btn-success mt-2" translate>
        Profile.Save
      </button>
    </form>
  </div>
  <!-- End body -->
</ng-template>

<!-- Service Modal Data  -->
<ng-template #servicesContent role="document" let-modal="close">
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-white">{{jobPriceModalTitle}}</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <div class="text-left">
      <form class="needs-validation" (ngSubmit)="saveJobPrice()" [formGroup]="jobPriceForm" novalidate>

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name"
                 [ngClass]="{'is-invalid': submitted2 && fs.name.errors}">
          <div *ngIf="submitted2 && fs.name.errors" class="invalid-feedback">
            <span *ngIf="fs.name.errors.required">This value is required.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="4" placeholder="{{'Profile.Write' | translate}}..."
                    formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted2 && fs.description.errors }"></textarea>
          <div *ngIf="submitted2 && fs.description.errors" class="invalid-feedback">
            <span *ngIf="fs.description.errors.required">This value is required.</span>
          </div>
        </div>

        <div class="form-group">
          <label>Price </label>
          <input type="number" class="form-control" placeholder="Price" formControlName="price"
                 [ngClass]="{'is-invalid': submitted2 && fs.price.errors}">
          <div *ngIf="submitted2 && fs.price.errors" class="invalid-feedback">
            <span *ngIf="fs.price.errors.required">This value is required.</span>
          </div>
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger ml-1"
                  (click)="modal('close click')">Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
