<div class="container-fluid mt-2 mb-5">
  <div class="row">
    <div class="col">
      <div class="card-box">
        <h4 class="header-title mb-4" translate>Profile.ManageAccount</h4>
        <ngb-tabset class="nav-bordered" type="tabs">
          <ngb-tab title="{{'Profile.PersonalInfo' | translate}}" class="nav-item">
            <ng-template ngbTabContent class="nav-item">
              <app-personal-info></app-personal-info>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'Profile.LoginAndPassword' | translate}}" class="nav-item">
            <ng-template ngbTabContent>
              <app-login-password></app-login-password>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'Profile.FamilyMembers' | translate}}" class="nav-item">
            <ng-template ngbTabContent>
              <app-family-members></app-family-members>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="{{'Profile.Payment' | translate}}" class="nav-item">
            <ng-template ngbTabContent>
              <app-payment-info></app-payment-info>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div><!-- End Bordered Tabs -->
  </div>
</div>
