<div class="account-pages">
  <div class="pl-0 pr-0 ml-0 mr-0">
    <div class="row m-0 vh-100">
      <div class="col-md-4 col-lg-4 col-xl-4 mt-0 pr-0 pl-0 mb-0 card-box rounded-0">
        <div class="text-center">
          <img [src]="profilePic" class="rounded-circle avatar-xl img-thumbnail" style="height: 10rem; width: 10rem;"
               alt="profile-image">

          <h3 class="mb-0">{{doctorData?.firstName}} {{doctorData?.lastName}}</h3> <!-- full name -->
          <!-- profession -->
          <h4 *ngIf="doctorData?.profession?.title != doctorData?.speciality?.name">
            {{doctorData?.profession?.title}} {{doctorData?.speciality?.name}}
          </h4>
          <h4 *ngIf="doctorData?.profession?.title == doctorData?.speciality?.name">
          <span *ngIf="doctorData?.speciality?.name == 'Infirmier(e)' && doctorData?.gender == 'MALE'">
            Infirmier
          </span>
            <span *ngIf="doctorData?.speciality?.name == 'Infirmier(e)' && doctorData?.gender == 'FEMALE'">
            Infirmiere
          </span>
            <span *ngIf="doctorData?.speciality?.name != 'Infirmier(e)'">
              {{doctorData?.speciality?.name}}
          </span>
          </h4>

          <div class="border-top border-bottom p-3 mt-5 font-18" style="color: black;">
            <div class="row">
              <div class="text-left col align-self-start" translate><em class="fe-credit-card"></em>
                ReservationPage.Tarif
              </div>
              <div class="col align-self-end font-weight-bold">{{ doctorData?.teleconsultationPrice }} €</div>
            </div>
            <br/>
            <div class="row">
              <div class="text-left col align-self-start" translate><em class="fe-repeat"></em>
                ReservationPage.Refundable
              </div>
              <div
                class="col align-self-end font-weight-bold">{{ 'RegisterPage.' + doctorData?.agreementStatus | translate }}</div>
            </div>
          </div>

          <div class="mt-3 p-3 font-18" style="color: black;">
            <div class="row">
              <div class="text-left col align-self-start" translate>ReservationPage.MyMeeting</div>
            </div>
            <br/>
            <div class="row">
              <div class="text-left col align-self-start" translate>ReservationPage.Date <br/><span
                class="font-weight-bold">{{reservationTimestamp| date: 'd MMM.y'}}</span></div>
              <div class="col align-self-end" translate>ReservationPage.Hour<br/> <span
                class="font-weight-bold">{{reservationTimestamp| date: 'HH:mm'}}</span></div>
            </div>
          </div>
        </div>
      </div>

      <div id="div1" class="col-md-4 col-lg-4 col-xl-4 col-12 offset-md-2 offset-lg-2 mt-md-5 mt-lg-5 mt-0 p-0">
        <div class="card card-form mt-3 p-3">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-2">
              <em class="fe-arrow-left" (click)="goBack()"></em>
            </div>
            <div class="col-8 col-md-8 col-lg-8 text-center">
              <a routerLink="/">
                <img src="assets/images/logo-dark.png" alt="" height="50"/>
              </a>
            </div>
          </div>
          <div *ngIf="!isAppointmentAvailable">
            <p class="text-black-50 font-weight-bold text-center mb-4 mt-3 font-24 text-style" translate>
              ReservationPage.ThisTimeNotAvailable</p>
            <p class="text-black-50 text-center mt-3 mb-0 font-18 text-style-2" translate>
              ReservationPage.ThisTimeNotAvailableMessage1</p>
            <p class="text-black-50 text-center font-18 text-style-2" translate>
              ReservationPage.ThisTimeNotAvailableMessage2</p>
            <button routerLink="/" class="btn btn-primary btn-block action-btn mt-2 btn-lg" type="button"
                    translate>RegisterPage.IContinue
            </button>
          </div>

          <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'" *ngIf="isAppointmentAvailable">
            <aw-wizard-step [stepId]="'step1'" [stepTitle]="'Step #1'" awOptionalStep
                            [canEnter]="authService.currentUser()==null">
              <h4 class="text-black-50 text-center mb-4 mt-3 text-style" translate>RegisterPage.EnterYourEmail</h4>
              <form class="needs-validation" name="emailForm" [formGroup]="emailForm" (ngSubmit)="onCheckEmail()"
                    novalidate>

                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="form-group mb-3" *ngIf="!success">
                  <input type="email" formControlName="email" class="form-control input-style"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email"/>

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required" translate>RegisterPage.Required</div>
                    <div *ngIf="f.email.errors.email" translate>RegisterPage.ValidEmail</div>
                  </div>
                </div>

                <div class="form-group mb-0 text-center" *ngIf="!success">
                  <button class="btn btn-primary btn-block btn-lg action-btn" type="submit" translate>
                    RegisterPage.Next
                  </button>
                </div>
              </form>
            </aw-wizard-step>
            <aw-wizard-step [stepId]="'step2'" [stepTitle]="'Step #2'" awOptionalStep
                            [canEnter]="authService.currentUser()==null">
              <form class="needs-validation" name="accountForm" [formGroup]="accountForm" (ngSubmit)="setPersonalInfo()"
                    novalidate>
                <h4 class="text-black-50 text-center mb-4 mt-3 text-style" translate>
                  RegisterPage.CreateYourAccountNow</h4>

                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="form-group mb-3" *ngIf="!success">
                  <input type="text" formControlName="firstName" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted2 && f2.firstName.errors }" id="firstName"
                         placeholder="{{'RegisterPage.FirstName' | translate}}"/>

                  <div *ngIf="submitted2 && f2.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f2.firstName.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group mb-3" *ngIf="!success">
                  <input type="text" formControlName="lastName" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted2 && f2.lastName.errors }" id="lastName"
                         placeholder="{{'RegisterPage.LastName' | translate}}"/>

                  <div *ngIf="submitted2 && f2.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f2.lastName.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group" *ngIf="!success">
                  <select class="form-control" id="genderEnum" formControlName="genderEnum"
                          [ngClass]="{ 'is-invalid': submitted2 && f2.genderEnum.errors }">
                    <option value="" disabled>Choose your gender</option>
                    <option value="MALE" translate>RegisterPage.Male</option>
                    <option value="FEMALE" translate>RegisterPage.Female</option>
                    <option value="OTHER" translate>RegisterPage.Other</option>
                  </select>
                  <div *ngIf="submitted2 && f2.genderEnum.errors" class="invalid-feedback">
                    <div *ngIf="f2.genderEnum.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group mb-3" *ngIf="!success">
                  <input type="text" class="form-control" formControlName="birthday" data-toggle="input-mask"
                         mask="00/00/0000"
                         [ngClass]="{ 'is-invalid': submitted2 && f2.birthday.errors }" id="birthday"
                         placeholder="{{'RegisterPage.Birthday' | translate}}">
                  <span class="font-13 text-muted">e.g "JJ/MM/AAAA"</span>
                  <div *ngIf="submitted2 && f2.birthday.errors" class="invalid-feedback">
                    <div *ngIf="f2.birthday.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group mb-3" *ngIf="!success">
                  <input mask="00 00 00 00 00" type="text" formControlName="phoneNumber" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted3 && f2.phoneNumber.errors }" id="phoneNumber"
                         placeholder="{{'RegisterPage.PhoneNumber' | translate}}"/>

                  <div *ngIf="submitted3 && f2.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f2.phoneNumber.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group mb-0 text-center">
                  <button class="btn btn-primary btn-block btn-lg" type="submit" translate>RegisterPage.Next</button>
                </div>
              </form>
            </aw-wizard-step>
            <aw-wizard-step [stepId]="'step3'" [stepTitle]="'Step #3'" awOptionalStep
                            [canEnter]="authService.currentUser()==null">
              <h4 class="text-black-50 text-center mb-4 mt-3 text-style" translate>RegisterPage.FinishYourRegister</h4>

              <form class="needs-validation" name="passwordForm" [formGroup]="passwordForm" (ngSubmit)="onSubmit()"
                    novalidate>
                <div class="form-group mb-2" *ngIf="!success">
                  <input type="password" formControlName="password" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted3 && f3.password.errors }" id="password"
                         placeholder="{{'RegisterPage.Password' | translate}}"/>
                  <div *ngIf="submitted3 && f3.password.errors" class="invalid-feedback">
                    <div *ngIf="f3.password.errors.required" translate>RegisterPage.Required</div>
                  </div>
                  <input type="password" formControlName="confirmPassword" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted3 && f3.confirmPassword.errors || passwordForm.value.password !== passwordForm.value.confirmPassword}"
                         id="confirmPassword" placeholder="{{'LoginPage.ConfirmPassword' | translate}}"/>
                  <div *ngIf="submitted3 && f3.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f3.confirmPassword.errors.required" translate>RegisterPage.Required</div>
                  </div>
                  <app-password-strength-bar [passwordToCheck]="passwordForm.value.password"
                                             [barLabel]="barLabel | translate"></app-password-strength-bar>
                </div>
                <div class="row m-auto">
                  <div class="col-1"><input [checked]="false" id="checkbox1" type="checkbox" [required]="true"></div>
                  <div class="col-11"><label for="checkbox1" translate>RegisterPage.Conditions</label></div>
                </div>
                <div class="row m-auto">
                  <div class="col-1"><input [checked]="false" checked="" id="checkbox2" type="checkbox"
                                            [required]="true"></div>
                  <div class="col-11"><label for="checkbox2" translate>RegisterPage.DataPrivacy</label></div>
                </div>
                <div class="row m-auto">
                  <div class="col-1"><input [checked]="false" checked="" id="checkbox3" type="checkbox"></div>
                  <div class="col-11"><label for="checkbox3" translate>RegisterPage.NewPostNotif</label></div>
                </div>
                <div class="form-group mb-0 text-center" *ngIf="!success">
                  <button class="btn btn-primary btn-block btn-lg action-btn mt-2" type="submit" translate>
                    RegisterPage.Validate
                  </button>
                </div>
              </form>
            </aw-wizard-step>
            <aw-wizard-step [stepId]="'step4'" [stepTitle]="'Step #4'" awOptionalStep
                            [canEnter]="authService.currentUser()==null">
              <p class="text-black-50 font-weight-bold text-center mb-4 mt-3 font-24 text-style" translate>
                RegisterPage.WelcomeToDoctoryl</p>
              <p class="text-black-50 text-center mt-3 mb-0 font-18 text-style-2" translate>
                RegisterPage.YourAccountHasBeenCreated</p>
              <p class="text-black-50 text-center font-18 text-style-2" translate>
                RegisterPage.YouWillReceiveAConfirmationEmail</p>
              <p class="text-black-50 text-center mb-4 font-18 text-style-2" translate>
                RegisterPage.YouCanContinueYourReservation</p>
              <button class="btn btn-primary btn-block action-btn mt-2" type="button" (click)="showPolicyDiv()"
                      translate>RegisterPage.IContinue
              </button>
            </aw-wizard-step>
            <aw-wizard-step [stepId]="'step5'" [stepTitle]="'Step #5'" awOptionalStep
                            [canEnter]="authService.currentUser()==null">
              <p class="text-black-50 font-weight-bold text-center mb-2 mt-1 font-20 text-style" translate>
                ReservationPolicy.Header</p>
              <ul class="text-black-50" style="color: black !important;">
                <li class="font-18 mb-1" translate>ReservationPolicy.Policy1</li>
                <li class="font-18 mb-1" translate>ReservationPolicy.Policy2</li>
                <li class="font-18 mb-1" translate>ReservationPolicy.Policy3</li>
                <li class="font-18" translate>ReservationPolicy.Policy4</li>
                <div class="form-group mt-3 text-center">
                  <button type="button" class="btn btn-success ng-star-inserted mr-3 btn-lg" translate awNextStep
                          (click)="changeDivSize()">ReservationPolicy.OkBtn
                  </button>
                  <button type="button" class="btn ng-star-inserted btn-secondary btn-lg" routerLink="/" translate>
                    ReservationPolicy.NotOkBtn
                  </button>
                </div>
              </ul>
            </aw-wizard-step>
            <aw-wizard-step [stepId]="'step6'" [stepTitle]="'Step #6'">
              <p class="text-black-50 font-weight-bold text-center mb-4 mt-3 font-20" translate>
                ReservationPage.MotifQuestion</p>
              <form class="needs-validation" name="reservationForm" [formGroup]="reservationForm"
                    (ngSubmit)="setReservationMotif(null)" novalidate>
                <div class="form-group mb-3" *ngIf="!success">
                  <input type="text" formControlName="reason" class="form-control" id="reason"
                         placeholder="{{'ReservationPage.Motif' | translate}}"/>
                </div>
                <p class="font-weight-bold" translate>ReservationPage.ChooseUser</p>
                <div class="form-group mb-2 text-center" *ngIf="!success">
                  <button [awGoToStep]="{ stepId: 'step7' }" class="btn btn-block btn-success btn-lg"
                          (click)="setReservationMotif(null)" style="font-size: 1.15rem;" type="button" translate>
                          <span class="btn-label fa-pull-left">
                            <i class="mdi mdi-account-plus"></i>
                          </span>ReservationPage.AddUser
                  </button>
                </div>
                <div class="form-group mb-0" *ngIf="!success">
                  <button [awGoToStep]="{ stepId: 'step10' }" (click)="setReservationMotif(currentPatientPk)"
                          class="btn btn-block btn-primary btn-lg action-btn" type="button">
                          <span class="btn-label fa-pull-left">
                            <i class="mdi mdi-account-check"></i>
                          </span>{{currentUserFullName}}
                  </button>
                </div>
                <p class="font-weight-bold mt-1" translate>ReservationPage.MyFamily</p>
                <div class="form-group mt-2" *ngIf="familyMembers.length > 0">
                  <button *ngFor="let child of familyMembers; index as i" [awGoToStep]="{ stepId: 'step10' }" (click)="setReservationMotif(child.pk)"
                          class="btn btn-block btn-primary" type="button">
                          <span class="btn-label fa-pull-left">
                            <i class="mdi mdi-account-check"></i>
                          </span>{{child.firstName}} {{child.lastName}}
                  </button>
                </div>
              </form>
            </aw-wizard-step>
            <aw-wizard-step [stepId]="'step7'" [stepTitle]="'Step #7'" awOptionalStep>
              <h4 class="text-black-50 text-center mb-4 mt-3" translate>ReservationPage.TellUsAboutYourBeneficiary</h4>
              <form class="needs-validation" name="beneficiaryForm" [formGroup]="beneficiaryForm"
                    (ngSubmit)="addBeneficiary()" novalidate>
                <div class="form-group" *ngIf="!success">
                  <select class="form-control" formControlName="patientRelationshipEnum"
                          [ngClass]="{ 'is-invalid': submitted5 && f5.patientRelationshipEnum.errors }">
                    <option value="" disabled translate>ReservationPage.ChooseYourRelationShip</option>
                    <option value="SON" translate>ReservationPage.Son</option>
                    <option value="DAUGHTER" translate>ReservationPage.Daughter</option>
                    <option value="HUSBAND" translate>ReservationPage.Husband</option>
                    <option value="WIFE" translate>ReservationPage.Wife</option>
                    <option value="OTHER" translate>RegisterPage.Other</option>
                  </select>
                  <div *ngIf="submitted5 && f5.patientRelationshipEnum.errors" class="invalid-feedback">
                    <div *ngIf="f5.patientRelationshipEnum.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>
                <div class="form-group mb-3" *ngIf="!success">
                  <input type="text" formControlName="firstName" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted5 && f5.firstName.errors }"
                         placeholder="{{'RegisterPage.FirstName' | translate}}"/>

                  <div *ngIf="submitted5 && f5.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f2.firstName.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group mb-3" *ngIf="!success">
                  <input type="text" formControlName="lastName" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted5 && f5.lastName.errors }"
                         placeholder="{{'RegisterPage.LastName' | translate}}"/>

                  <div *ngIf="submitted5 && f5.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f5.lastName.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group" *ngIf="!success">
                  <select class="form-control" formControlName="genderEnum"
                          [ngClass]="{ 'is-invalid': submitted5 && f5.genderEnum.errors }">
                    <option value="" disabled translate>RegisterPage.ChooseYourGender</option>
                    <option value="MALE" translate>RegisterPage.Male</option>
                    <option value="FEMALE" translate>RegisterPage.Female</option>
                    <option value="OTHER" translate>RegisterPage.Other</option>
                  </select>
                  <div *ngIf="submitted5 && f5.genderEnum.errors" class="invalid-feedback">
                    <div *ngIf="f5.genderEnum.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group mb-3" *ngIf="!success">
                  <input type="text" class="form-control" formControlName="birthday" data-toggle="input-mask"
                         mask="00/00/0000"
                         [ngClass]="{ 'is-invalid': submitted5 && f5.birthday.errors }"
                         placeholder="{{'RegisterPage.Birthday' | translate}}">
                  <span class="font-13 text-muted">e.g "JJ/MM/AAAA"</span>
                  <div *ngIf="submitted5 && f5.birthday.errors" class="invalid-feedback">
                    <div *ngIf="f5.birthday.errors.required" translate>RegisterPage.Required</div>
                  </div>
                </div>

                <div class="form-group mb-0 text-center">
                  <button class="btn btn-primary btn-block btn-lg action-btn" type="submit" translate>
                    RegisterPage.Next
                  </button>
                </div>
              </form>
            </aw-wizard-step>
<!--            <aw-wizard-step [stepTitle]="'Step #8'" [stepId]="'step8'" awOptionalStep [canEnter]="false">-->
<!--              <form class="needs-validation" name="medicalRecordForm" [formGroup]="medicalRecordForm"-->
<!--                    (ngSubmit)="addMedicalRecord()" novalidate>-->
<!--                <h4 class="text-black-50 text-center mb-4 mt-3" translate>ReservationPage.EnterMedicalInfo</h4>-->

<!--                <div class="form-group mb-3" *ngIf="!success">-->
<!--                  <input type="number" formControlName="height" class="form-control"-->
<!--                         [ngClass]="{ 'is-invalid': submitted6 && f6.height.errors }"-->
<!--                         placeholder="{{'ReservationPage.Height' | translate}}"/>-->

<!--                  <div *ngIf="submitted6 && f6.height.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="f6.height.errors.required" translate>RegisterPage.Required</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group mb-3" *ngIf="!success">-->
<!--                  <input type="number" formControlName="weight" class="form-control"-->
<!--                         [ngClass]="{ 'is-invalid': submitted6 && f6.weight.errors }"-->
<!--                         placeholder="{{'ReservationPage.Weight' | translate}}"/>-->

<!--                  <div *ngIf="submitted6 && f6.weight.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="f6.weight.errors.required" translate>RegisterPage.Required</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group mb-0 text-center">-->
<!--                  <button class="btn btn-primary btn-block" type="submit"-->
<!--                          [awGoToStep]="{ stepId: afterMedicalRecordStepId }" translate>RegisterPage.Next-->
<!--                  </button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </aw-wizard-step>-->
<!--            <aw-wizard-step [stepId]="'step9'" [stepTitle]="'Step #9'" awOptionalStep>-->
<!--              <form class="needs-validation" name="socialNumberForm" [formGroup]="socialNumberForm"-->
<!--                    (ngSubmit)="addSocialNumber()" novalidate>-->
<!--                <h4 class="text-black-50 text-center mt-3" translate>ReservationPage.RefundableMessage</h4>-->
<!--                <div class="form-group mb-3 mt-4" *ngIf="!success">-->
<!--                  <input type="text" formControlName="socialNumber" class="form-control"-->
<!--                         [ngClass]="{ 'is-invalid': submitted7 && f7.socialNumber.errors }"-->
<!--                         placeholder="{{'ReservationPage.SocialNumber' | translate}}"/>-->

<!--                  <div *ngIf="submitted7 && f7.socialNumber.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="f7.socialNumber.errors.required" translate>RegisterPage.Required</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group mb-3 mt-4" *ngIf="!success">-->
<!--                  <u><a class="text-primary" style="cursor: pointer;" translate awNextStep>ReservationPage.IdontHaveSocialNumber</a></u>-->
<!--                </div>-->
<!--                <div class="form-group mb-0 text-center">-->
<!--                  <button class="btn btn-primary btn-block" type="submit" awNextStep translate>RegisterPage.Next-->
<!--                  </button>-->
<!--                </div>-->
<!--              </form>-->
<!--            </aw-wizard-step>-->
            <aw-wizard-step [stepId]="'step10'" [stepTitle]="'Step #10'">
              <form class="needs-validation" name="paymentForm" [formGroup]="paymentForm" (ngSubmit)="pay()" novalidate>
                <div class="form-group mb-0 text-center mt-4">
                  <button class="btn btn-primary btn-block btn-lg" action-btn type="submit" awNextStep translate>
                    ReservationPage.Confirm
                  </button>
                </div>
              </form>
            </aw-wizard-step>
            <aw-wizard-step [stepId]="'step11'" [stepTitle]="'Step #11'">
              <h3 class="text-black-50 text-center mb-3 mt-3" translate>ReservationPage.ReservationOk</h3>
              <h4 class="text-black-50 text-center mt-1" translate>ReservationPage.ReservationThanks</h4>
              <p class="text-black-50 text-center mb-3 mt-2" translate>ReservationPage.ReservationMessage</p>
              <div class="form-group mb-0 text-center">
                <button class="btn btn-success btn-block btn-lg" routerLink="/patient/dashboard/my-consultations" type="submit" translate>LoginPage.LoginBtn</button>
              </div>
            </aw-wizard-step>
          </aw-wizard>

        </div>

        <!-- end card -->
      </div> <!-- end col -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
