.card-form{
  box-shadow: 0 2px 7px 0 rgb(52 51 67 / 20%);
  //width: 550px;
}

.text-style{
  font-weight: 700;
  color: #343343 !important;
  font-size: 1.325rem !important;
}

.input-style{
  height: 45px;
  font-size: 1.2rem;
}

.action-btn{
  font-size: 1.15rem;
  background-color: #4938d7;
  border-color: #3f2ed4;
}

.fe-arrow-left{
  font-size: 2rem;
  cursor: pointer;
}

input, select{
  height: 40px;
  font-size: 1.1rem;
}

#checkbox1, #checkbox2, #checkbox3{
  width: 20px;
  cursor: pointer;
}

.text-style-2{
  font-weight: 700;
}
