<div class="container-fluid mt-2 mb-5">
  <div class="row">
    <div class="col" *ngIf="doctor != undefined">
      <app-doctor-search-card [doctor]="doctor" [isFullPage]="true"></app-doctor-search-card>
    </div>
  </div>
</div>
