<div class="container-fluid mt-2 mb-5">

  <div class="row">
    <div class="col-4">
      <button [hidden]="hideGoBackBtn" class="btn btn-success" type="button" translate (click)="goBack()">
        <span class="btn-label" style=""><i class="mdi mdi-arrow-left-bold"></i></span>Action.GoBack
      </button>
    </div>
    <div class="col-4 text-center">
      <p class="font-weight-bold font-18"><span translate>MedicalRecord.Of</span>{{patientFullName}}</p>
    </div>

  <div class="row">

    <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4 pl-0">
      <div class="card-box ribbon-box mb-1">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-doctor mr-1"></em> MedicalRecord.MyDoctor
        </div>
        <div class="ribbon-content">
          <div class="row">
            <div class="col-12 mt-2">
              <div class="input-group">
                <input class="form-control" placeholder="{{'RegisterPage.FirstName' | translate}}"
                       [(ngModel)]="medicalRecord.treatingDoctorFirstName" type="text" name="time" [disabled]="true">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="input-group" >
                <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.treatingDoctorLastName" placeholder="{{'RegisterPage.LastName' | translate}}"
                       type="text" name="time">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-2">
              <div class="input-group">
                <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.treatingDoctorEmail" placeholder="{{'RegisterPage.Email' | translate}}"
                       type="email" name="email">
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="input-group" >
                <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.treatingDoctorPhone" placeholder="{{'RegisterPage.PhoneNumber' | translate}}"
                       type="text" name="phoneNumber">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box mb-1">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="fas fa-weight mr-1"></em><span translate>MedicalRecord.weight </span>&<span translate> MedicalRecord.height</span>
        </div>
        <div class="ribbon-content">
          <div class="input-group pl-2">
            <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.weight" placeholder="{{'MedicalRecord.weight' | translate}}"  type="number" name="time">
            <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.height" placeholder="{{'MedicalRecord.height' | translate}}" type="number" name="time">
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box mb-1">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="fas fa-syringe mr-1"></em> MedicalRecord.vaccineStatus
        </div>
        <div class="ribbon-content mt-2">
          <p class="font-weight-bold" translate>MedicalRecord.vaccineStatusAsk</p>
          <ng-select id="languages"
                     [disabled]="true"
                     [items]="selectedVaccine"
                     bindLabel="name"
                     [multiple]="true"
                     [(ngModel)]="selectedVaccine"
          >
          </ng-select>

        </div>
      </div>
      <div class="card-box ribbon-box mt-1">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-comment-question mr-1"></em> MedicalRecord.insuranceProvider
        </div>
        <div class="ribbon-content">
          <div class="input-group">
            <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.insuranceProvider" type="text" name="insuranceProvider">
          </div>
        </div>
      </div>
    </div>

    <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4">
      <div class="card-box ribbon-box">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-medical-bag mr-1"></em> MedicalRecord.MedicalBackground
        </div>
        <div class="ribbon-content border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.cvDiseases</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input id="radio1" name="cvDiseases" [disabled]="true" [(ngModel)]="medicalRecord.cvDiseases" type="radio" value="Y">
            <label for="radio1" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input id="radio2" name="cvDiseases" [disabled]="true" [(ngModel)]="medicalRecord.cvDiseases" type="radio" value="N">
            <label for="radio2" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input id="radio3" name="cvDiseases" [disabled]="true" [(ngModel)]="medicalRecord.cvDiseases" type="radio" value="D">
            <label for="radio3" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.cvDiseasesFamily</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input  id="radio4" [disabled]="true" [(ngModel)]="medicalRecord.cvDiseasesFamily" name="cvDiseasesFamily" type="radio" value="Y">
            <label for="radio4" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input  id="radio5" [disabled]="true" [(ngModel)]="medicalRecord.cvDiseasesFamily" name="cvDiseasesFamily" type="radio" value="N">
            <label for="radio5" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input id="radio6" [disabled]="true" [(ngModel)]="medicalRecord.cvDiseasesFamily" name="cvDiseasesFamily" type="radio" value="D">
            <label for="radio6" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.cvDiseasesRisk</p>
          <ng-select id="cvDiseasesRisk"
                     [items]="selectedCvDiseasesRisk"
                     bindLabel="name"
                     [multiple]="true"
                     [disabled]="true"
                     [(ngModel)]="selectedCvDiseasesRisk"
          >
          </ng-select>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.asthma</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input id="radio7" [disabled]="true" [(ngModel)]="medicalRecord.asthma" name="asthma" type="radio" value="Y">
            <label for="radio7" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input  id="radio8" [disabled]="true" [(ngModel)]="medicalRecord.asthma" name="asthma" type="radio" value="N">
            <label for="radio8" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input  id="radio9" [disabled]="true" [(ngModel)]="medicalRecord.asthma" name="asthma" type="radio" value="D">
            <label for="radio9" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.stress</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input id="radio10" [disabled]="true" [(ngModel)]="medicalRecord.stress" name="stress" type="radio" value="Y">
            <label for="radio10" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input  id="radio11" [disabled]="true" [(ngModel)]="medicalRecord.stress" name="stress" type="radio" value="N">
            <label for="radio11" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input  id="radio12" [disabled]="true" [(ngModel)]="medicalRecord.stress" name="stress" type="radio" value="D">
            <label for="radio12" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2 border-bottom">
          <p class="font-weight-bold" translate>MedicalRecord.moral</p>
          <div class="radio radio-success form-check-inline mb-2">
            <input id="radio13" [disabled]="true" [(ngModel)]="medicalRecord.moral" name="moral" type="radio" value="Y">
            <label for="radio13" translate>MedicalRecord.Y</label>
          </div>
          <div class="radio form-check-inline radio-danger mb-2">
            <input  id="radio14" [disabled]="true" [(ngModel)]="medicalRecord.moral" name="moral" type="radio" value="N">
            <label for="radio14" translate>MedicalRecord.N</label>
          </div>
          <div class="radio form-check-inline mb-2">
            <input  id="radio15" [disabled]="true" [(ngModel)]="medicalRecord.moral" name="moral" type="radio" value="D">
            <label for="radio15" translate>MedicalRecord.D</label>
          </div>
        </div>
        <div class="ribbon-content mt-2">
          <p class="font-weight-bold" translate>MedicalRecord.otherPathology</p>
          <div class="input-group">
            <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.otherPathology" type="text" name="otherPathology"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-1 col-sm-1 col-md-4 col-lg-4 col-xl-4 pr-0">
      <div class="card-box ribbon-box mb-2">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-medical-bag mr-1"></em> MedicalRecord.surgical
        </div>
        <div class="ribbon-content">
          <p class="font-weight-bold" translate>MedicalRecord.surgicalAsk</p>
          <div class="input-group">
            <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.surgical" type="text" name="surgical"/>
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box mb-2">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-pill mr-1"></em> MedicalRecord.longTermTreatment
        </div>
        <div class="ribbon-content">
          <p class="font-weight-bold" translate>MedicalRecord.longTermTreatmentAsk</p>
          <div class="input-group">
            <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.longTermTreatment" type="text" name="longTermTreatment"/>
          </div>
        </div>
      </div>
      <div class="card-box ribbon-box mb-2">
        <div class="ribbon ribbon-primary float-left shape font-16" translate>
          <em class="mdi mdi-comment-question mr-1"></em> MedicalRecord.drugAllergies
        </div>
        <div class="ribbon-content">
          <p class="font-weight-bold" translate>MedicalRecord.drugAllergiesAsk</p>
          <div class="input-group">
            <input class="form-control" [disabled]="true" [(ngModel)]="medicalRecord.drugAllergies" type="text" name="drugAllergies">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

