<form class="needs-validation" name="profileForm" [formGroup]="profileForm" (ngSubmit)="updateProfile()" novalidate>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="firstName" translate>RegisterPage.FirstName</label>
        <input type="text" formControlName="firstName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" id="firstName"
               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.FirstName' | translate}}"/>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required" translate>RegisterPage.Required</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="lastName" translate>RegisterPage.LastName</label>
        <input type="text" formControlName="lastName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" id="lastName"
               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.LastName' | translate}}"/>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required" translate>RegisterPage.Required</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="genderEnum" translate>RegisterPage.Gender</label>
        <select class="form-control" id="genderEnum" formControlName="genderEnum"
                [ngClass]="{ 'is-invalid': submitted && f.genderEnum.errors }">
          <option value="" disabled>Choose your gender</option>
          <option value="MALE" translate>RegisterPage.Male</option>
          <option value="FEMALE" translate>RegisterPage.Female</option>
          <option value="OTHER" translate>RegisterPage.Other</option>
        </select>
        <div *ngIf="submitted && f.genderEnum.errors" class="invalid-feedback">
          <div *ngIf="f.genderEnum.errors.required" translate>RegisterPage.Required</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-group">
        <div class="form-group">
          <label for="useremail" translate>RegisterPage.Email</label>
          <span class="text-muted">
            <small> If you want to change email please
              <a href="javascript: void(0);">click </a>here.
            </small>
           </span>
          <input type="email" value="{{patientData?.email}}" class="form-control" id="useremail" placeholder=""
                 [disabled]="true">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-group">
        <label for="phoneNumber" translate>RegisterPage.PhoneNumber</label>

        <input mask="00 00 00 00 00" type="text" formControlName="phoneNumber" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" id="phoneNumber"
               placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.PhoneNumber' | translate}}"/>

        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.phoneNumber.errors.required" translate>RegisterPage.Required</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <div class="form-group mb-0">
        <label for="birthday" translate>RegisterPage.Birthday</label>
        <input type="text" class="form-control" formControlName="birthday" data-toggle="input-mask"
               mask="00/00/0000"
               [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" id="birthday"
               placeholder="{{'RegisterPage.Birthday' | translate}}">
        <span class="font-13 text-muted">e.g "JJ/MM/AAAA"</span>
        <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
          <div *ngIf="f.birthday.errors.required" translate>RegisterPage.Required</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <label for="firstName" translate>RegisterPage.City</label>
      <input type="text" formControlName="city" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.city.errors }" id="city"
             placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.City' | translate}}"/>
      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
        <div *ngIf="f.city.errors.required" translate>RegisterPage.Required</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <label for="postalCode" translate>RegisterPage.PostalCode</label>
      <input type="text" formControlName="postalCode" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" id="postalCode"
             placeholder="{{'RegisterPage.EnterYour' | translate}} {{'RegisterPage.PostalCode' | translate}}"/>
      <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
        <div *ngIf="f.postalCode.errors.required" translate>RegisterPage.Required</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
    </div>
  </div>

  <div class="row">
    <div class="col" style="text-align: right">
      <button type="submit" class="btn btn-success mt-2" translate>
        Profile.Save
      </button>
    </div>
  </div>

</form>
