<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/doctor/account/login">
                <img src="assets/images/logo-dark.png" alt="" height="50" />
              </a>
              <p class="text-muted mb-4 mt-3"><span translate>ResetPasswordPage.ResetPasswordInstructions </span><b>{{email}}</b></p>
            </div>

            <form class="needs-validation" name="resetForm" [formGroup]="confirmationCodeForm" (ngSubmit)="onSubmit()" novalidate>

              <app-ui-preloader [display]="loading"></app-ui-preloader>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
              <ngb-alert type="success" *ngIf="success" [dismissible]="false">{{ success }}</ngb-alert>

              <div class="form-group mb-3" *ngIf="!success">
                <label for="confirmationCode" translate>ResetPasswordPage.ConfirmationCode</label>

                <input type="text" formControlName="confirmationCode" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.confirmationCode.errors }" id="confirmationCode" placeholder="Code" />

                <div *ngIf="submitted && f.confirmationCode.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmationCode.errors.required" translate>RegisterPage.Required</div>
                </div>
              </div>

              <div class="form-group mb-0 text-center" *ngIf="!success">
                <button class="btn btn-primary btn-block" type="submit" translate>ResetPasswordPage.Submit</button>
              </div>
            </form>
          </div> <!-- end card-body-->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white-50" translate>ResetPasswordPage.BackTo <a routerLink="/doctor/account/login" class="text-white ml-1"><b translate>LoginPage.LoginBtn</b></a></p>
          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<app-auth-footer></app-auth-footer>

