//
// topbar.scss
//

// Logo
.logo {
    display: block;
    line-height: $topbar-height;
    span.logo-lg {
        display: block;
    }
    span.logo-sm {
        display: none;
    }
    .logo-lg-text-dark {
        color: $dark;
        font-weight: $font-weight-bold;
        font-size: 22px;
        text-transform: uppercase;
    }
    .logo-lg-text-light {
        color: $white;
        font-weight: $font-weight-bold;
        font-size: 22px;
        text-transform: uppercase;
    }
}

.logo-box {
    height: $topbar-height;
    float: left;
    padding-right: 40px;
}

.navbar-custom {
    background-color: $bg-topbar-light;
    box-shadow: $shadow;
    position: fixed;
    left: 0;
    right: 0;
    height: $topbar-height;
    z-index: 100;
    padding: 0 ($grid-gutter-width / 2);

    .topnav-menu {
        > li {
            float: left;
        }
        .nav-link {
            padding: 0 15px;
            color: $gray-700;
            min-width: 32px;
            display: block;
            line-height: $topbar-height;
            text-align: center;
            max-height: $topbar-height;
        }
    }
    .dropdown.show {
        .nav-link {
            background-color: rgba($gray-100, 0.7);
        }
    }

    .dropdown-menu {
        border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
    }

    /* Search */
    .app-search {
        overflow: hidden;
        height: $topbar-height;
        display: table;
        max-width: 180px;
        margin-right: 20px;

        .app-search-box {
            display: table-cell;
            vertical-align: middle;

            input::-webkit-input-placeholder {
                font-size: 0.8125rem;
                color: $gray-500;
            }
        }
        .form-control {
            border: none;
            height: 38px;
            padding-left: 20px;
            padding-right: 0;
            background-color: $gray-100;
            box-shadow: none;
            border-radius: 30px 0 0 30px;
        }
        .input-group-append {
            margin-left: 0;
            z-index: 4;
        }

        .btn {
            background-color: $gray-100;
            border-color: transparent;
            color: $gray-500;
            border-radius: 0 30px 30px 0;
            box-shadow: none !important;
        }
    }

    .button-menu-mobile {
        border: none;
        color: $white;
        display: inline-block;
        height: $topbar-height;
        line-height: $topbar-height;
        width: 60px;
        background-color: transparent;
        font-size: 24px;
        cursor: pointer;
    }

    .button-menu-mobile.disable-btn {
        display: none;
    }
}

@include media-breakpoint-down(sm) {
    body {
        padding-bottom: 80px;
    }

    .pro-user-name {
        display: none;
    }
    .navbar-custom {
        padding: 0 0 0 ($grid-gutter-width / 2);
    }

    .logo-box {
        padding-right: 0;

        .logo-lg {
            display: none !important;
        }
        .logo-sm {
            display: block !important;
        }
    }
}


/* Notification */
.noti-scroll {
    max-height: 230px;
}

.notification-list {
    margin-left: 0;

    .noti-title {
        background-color: $white;
        padding: 15px 20px;
    }

    .noti-icon {
        font-size: 21px;
        vertical-align: middle;
    }

    .noti-icon-badge {
        display: inline-block;
        position: absolute;
        top: 16px;
        right: 10px;
    }

    .notify-item {
        padding: 12px 20px;

        .notify-icon {
            float: left;
            height: 36px;
            width: 36px;
            font-size: 18px;
            line-height: 36px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            color: $white;
        }

        .notify-details {
            margin-bottom: 5px;
            overflow: hidden;
            margin-left: 45px;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $gray-800;

            b {
                font-weight: 500;
            }
            small {
                display: block;
            }
            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 13px;
            }
        }

        .user-msg {
            margin-left: 45px;
            white-space: normal;
            line-height: 16px;
        }
    }
    .profile-dropdown {
        .notify-item {
            padding: 7px 20px;
        }
    }
}

.profile-dropdown {
    width: 170px;
    i {
        vertical-align: middle;
        margin-right: 5px;
    }
}

.nav-user {
    padding: 0 12px !important;
    img {
        height: 32px;
        width: 32px;
    }
}

// Topbar Dark
.topbar-dark {
    .navbar-custom {
        background-color: #351f65 !important;

        .topnav-menu {
            .nav-link {
              font-weight: 600;
              color: $white;
            }
          .nav-link:hover {
            border-bottom: 4px solid $white;
          }
        }
        .dropdown.show {
            .nav-link {
                background-color: rgba($white,0.05);
            }
        }

        /* Search */
        .app-search {
            input::-webkit-input-placeholder {
                color: $gray-500 !important;
            }
            .form-control {
                color: $white;
                background-color: rgba($white,0.07);
                border: none;
            }
            .btn {
                color: $gray-500;
                background-color: rgba($white,0.07);
            }
        }
    }
}

// Overwrite Dropdown Megamenu
.dropdown-megamenu {
    left: 5% !important;
    right: 5% !important;
}
