<div class="topbar-menu" *ngIf="showMobileMenu">
    <div class="container-fluid">
        <div id="navigation" [ngbCollapse]="!showMobileMenu">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

              <li class="has-submenu">
                <a routerLink="/" translate><i class="fas fa-home"></i> Header.Home</a>
              </li>

              <li class="has-submenu">
                <a routerLink="/patient/dashboard/my-consultations" translate><i class="far fa-calendar-check"></i> Header.Consultation</a>
              </li>

              <li class="has-submenu">
                <a routerLink="/patient/dashboard/medical-record" translate><i class="fas fa-book-medical"></i> Header.MedicalRecord</a>
              </li>

              <li class="has-submenu" >
                <a routerLink="/patient/dashboard/my-documents" translate><i class="fas fa-file-medical-alt"></i> Header.MyDocuments</a>
              </li>

            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->
